@mixin df-checkout-ergonomic-form-list-inputs($width) {
	.df-checkout-ergonomic {
		.df-body {
			.df-block {
				li.wide {
					width: auto;
					.field {
						width: $width;
						.input-box {
							width: $width;
							input.input-text {
								width: $width - 6px;
							}
						}
					}
				}
				li.fields {
					width: $width;
					div.field {
						width: $width / 2;
						.input-box {
							width: $width / 2;
							input.input-text, select {
								width: ($width / 2) - 6px;
							}
						}
					}
					div.df-field {
						.last {
							width: $width / 2;
						}
					}
				}
			}
		}
	}
}