.rm-forum-content {
	padding: 5px;
}

.forum-top {
	display: block;
	margin-top: 10px;
}

select.jump_to_forum {
	width: 250px;
}

.forum-title {
	color: #002D53;
	margin: 10px 0px 10px 0px;
	font-size: 14px;
	font-weight: bold;
	float: left;
}

.forum-controls {
	float: right;
	text-align: right;
}

.head-forum {
	display: block;
	height: 105px;
}

.page-head-forum {
	float: left;
	color: #002D53;
	font: 28px arial, helvetica;
	margin-bottom: 16px;
	margin-top: 16px;
}

a.rm-forum-sort-links {
	color: #00729e;
}

TABLE#forum_table td {
	height: 35px;
	padding: 8px;
}

TABLE#forum_table_posts td {
	height: 150px;
}

TABLE#forum-post-bottom td {
	height: 30px;
}

TABLE#forum_table_posts td.forum-post-right {
	background: #fcfcfc;
}

TABLE#forum_table_posts td.forum-post-left {
	background: #ecf2f5;
}

.forum-post-signature {
	border-top: #DBDCF5 1px solid;
	margin: 125px 10px 5px 10px;
}

.forum-post-user-signature {
	text-align: left;
	padding: 7px;
}

.forum-post-signature-posted {
	margin: 5px 25px 5px 25px;
	padding: 6px;
	background: #ebf2f6;
}

.forum-hor-divider {
	height: 1px;
	border-top: 1px solid #CCCCCC;
}

.forum-statistic-block {
	margin: 5px;
}

.jump_to_forum {
	width: 145px;
}

.rm-forum-jump-to {
	margin-bottom: 10px;
}

.forum-no-data-table {
	height: 200px;
}

.search-forum-topic {
	font-size: 14px;
	font-weight: bold;
	padding: 3px;
}

.search-forum-post {
	padding: 3px;
}

.forum-search-block-selected {
	background: yellow;
	padding: 2px;
}

.forum-controls-user {
	text-align: right;
}

.forum-delete-link {
	color: red;
}

.forum-activate-link {
	color: green;
}

#table_forum_top {
}

#table_forum_top TD {
}

#table_forum_top TD#right {
	text-align: right;
}

#table_search_forum {

}

#table_search_forum TD {
	padding-left: 2px;
}

#table_jump_to_forum {
	width: 250px;
}

#table_jump_to_forum TD {
	padding-right: 2px;
	text-align: left;
}

#search_forum_input {
}

#rm-forum-bookmarked-items-div {
	padding-left: 2px;
	text-align: center;
}

.forum-who-is-online-block {
	margin: 5px;
}

.rm-forum-padding-b {
	padding-top: 5px;
}

#rm-forum-bookmark-items a {
	font-weight: bold;
	color: blue;
	text-decoration: underline;
}

.rm-forum-my-bookmarks-controls {
	/*padding-top:15px;*/
}

.rm-forum-control-delete {
	text-decoration: underline;
	color: red;
	font-weight: bold;
}

.rm-forum-control-view {
	text-decoration: underline;
	font-weight: bold;
}

.rm-forum-bookmark-items-class {
	font-weight: bold;
}

#rm-forum-fast-reply-textarea {
	width: 100%;
	height: 250px;
}

#rm-forum-fast-reply-block {
	display: none;
	width: 100%;
}

#rm-forum-fast-reply-button-block {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.rm-forum-moderator-block-top {
	width: 250px;
	border: 2px solid red;
	background: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.rm-forum-my-accounts-controls {
	margin-top: 7px;
	margin-bottom: 7px;
}

.rm-forum-rss-link {
	color: blue;
	margin-top: 10px;
	text-align: right;
	position: relative;
	width: 100%;
}

.rm-forum-rss-link-a {
	color: blue;
	font-weight: bold;
	font-size: 12px;
	text-decoration: underline;
}

h5.rm-forum-h-created {
	font-size: 13px;
}

.rm-forum-dark-tr {
	background: #E6E6E6;
}

.rm-forum-back-link {
	float: left;
}

.rm-forum-submit-form {
	float: right;
}

/*Buttons******/
button.rm-forum-default-button {
	background: none repeat scroll 0 0 #618499;
	border: 1px solid #999999;
	color: #FFFFFF;
	cursor: pointer;
	font: bold 12px arial, sans-serif !important;
	overflow: visible;
	padding: 1px 8px;
	text-align: center;
	vertical-align: middle;
	width: auto;
	margin-left: 5px;
}

button.rm-forum-default-button:hover {
	background: none repeat scroll 0 0 #729bb3
}

/* BreadCrumbs */
.rm-forum-breadcrumbs {
	font-size: 13px;
	font-weight: bold;
}

.rm-forum-breadcrumbs ul {
	margin: 10px 0px 10px 0px;
}

.rm-forum-breadcrumbs a {
	color: #7f7f7f;
	font-size: 13px;
	font-weight: normal;
}

.rm-forum-breadcrumbs li {
	display: inline;
}

.rm-forum-breadcrumbs li strong {
	font-weight: bold;
}

/* RE-CAPTURE */
.recaptchatable {
	width: 100% !important;
}

#recaptcha_table {
	width: 100% !important;
}

#recaptcha_response_field {

}

/*********************************************************/

/******************* OUR FORUMS BLOCK **************************************/
.our-forums .block-title {
	height: 20px;
}

.our-forums .block-content ul.our-forums {
	margin: 0 xp 3px 5px 0px;
}

ul.our-forums li {
	padding: 5px 0 5px 10px;
	border-bottom: 1px solid #fff;
}

ul.our-forums li.last {
	border-bottom: 0px;
}

ul.our-forums li a {
	color: #1E7EC8;
}

/*************************************************/

.rm-forum-form-place {
	padding: 15px;
	margin: 6px;
}

.rm-forum-upload-nickname-place {
	margin: 6px;
}

.rm-forum-upload-nickname {
	width: 220px;
}

.rm-forum-avatar-place {
	float: right;
	padding: 7px;
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	text-align: center;
	margin: 6px;
}

.rm-forum-avatar-place-post {
	padding: 7px;
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	text-align: center;
	margin: 6px;
}

.rm-forum-upload-avatar-place {
	margin: 6px;
}

.rm-forum-upload-avatar {
	width: 220px;
}

.rm-forum-signature-place {
	margin: 6px;
}

.rm-forum-signature-place textarea {
	width: 300px;
	height: 100px;
}

.rm-forum-submit-myaccount-form {
	margin: 6px;
}

/*************** FORUM CONTROLS ***********/
.rm-forum-top-controls {
	display: block;
	margin: 4px 0 5px;
	float: right;
}

.rm-forum-top-controls a {
	text-decoration: underline;
}

.rm-forum-top-controls-my-account {
	padding: 0 6px 0 17px;
	background: url(../../images/forum/status_online.png) left top no-repeat;
}

.rm-forum-top-controls-my-messages {
	padding: 0 6px 0 17px;
	background: url(../../images/forum/letter.png) left center no-repeat;
}

.rm-forum-top-controls-my-topics {
	padding: 0 6px 0 17px;
	background: url(../../images/forum/folder_edit.png) left top no-repeat;
}

.rm-forum-top-controls-my-posts {
	padding: 0 6px 0 17px;
	background: url(../../images/forum/page_white_edit.png) left top no-repeat;
}

.rm-forum-icons-medium {
	padding-top: 7px;
}

.df-forum-icons-small {

}

table.rm-forum-icons-table {
	width: 600px;
	border: 1px solid silver;
}

table.rm-forum-icons-table td.rm-forum-radio-label-place {
	padding: 2px;
	text-align: left;
}

table.rm-forum-icons-table td.rm-forum-radio-place {
	padding: 0 0 0 10px;
}

div.rm-forum-topic-folders-info {
	border: 1px solid silver;
	padding: 2px;
	margin: 0 0 10px 0;
}

a.rm-forum-quote-link {
	text-decoration: underline;
}

blockquote.rm-forum {
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: .5em 10px;
	background: #f9f9f9;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

div.rm-forum-quote-edit {
	padding: 4px;
	border: 1px solid #999;
	width: 550px;
}

/****** PRIVATE MESSAGES *******/

table.rm-forum-myprivatemessages-table {
	width: 99%;
	border: 0px;
	padding: 5px;

}

td.rm-forum-myprivatemessages-folders {
	width: 20%;
}

td.rm-forum-myprivatemessages-listmessages {
	width: 79%;
}

ul.rm-forum-myprivatemessages-list {
	margin: 10px 0 10px 10px;

}

ul.rm-forum-myprivatemessages-list li {
	padding: 0 0 0 18px;
	background: url(../../images/forum/folders_pm.png) left top no-repeat;
	margin: 3px 0 0 0;
}

ul.rm-forum-myprivatemessages-list li a {
	font-size: 15px;
	line-height: 15px;
	color: #1b5cf2;
	text-decoration: none;
}

ul.rm-forum-myprivatemessages-list li a.active {
	font-weight: bold;
}

.rm-forum-myprivatemessages-add-table {
	width: 99%;
	border: 0px;
	padding: 5px;
}

.rm-forum-myprivatemessages-add-block {
	padding: 25px;
	margin: 10px 10px 10px 0;
	border: 1px solid silver;
}

.rm-forum-myprivatemessages-text {
	width: 460px;
	margin: 7px 0 0 5px;
	height: 150px;
}

.rm-forum-myprivatemessages-subject-label {
	text-align: left;
	margin: 7px 0 0px 5px;
}

.rm-forum-myprivatemessages-subject-label em {
	color: red;
	margin-right: 5px;
}

.rm-forum-myprivatemessages-subject {
	width: 460px;
	margin: 7px 0 10px 19px;
}

.rm-forum-myprivatemessages-add-customer-block {
	text-align: center;
}

.rm-forum-myprivatemessages-add-text-block {
	text-align: right;
}

.rm-forum-my-private-messages-table {
}

.rm-forum-privatemessages-controls {
}

.rm-forum-privatemessages-controls a {
	text-decoration: none;
}

.rm-forum-private-message-description {
	padding: 5px;
	border: 1px solid silver;
	width: auto;
	margin-bottom: 5px;
}

.rm-forum-private-message-description-block {
	padding-top: 4px;
}

.rm-forum-reply-privatemessage-text {
	height: 110px;
	width: 100%;
}

.rm-forum-private-messages-view-header {
	font-size: 13px;
	background: #fff;
	padding: 4px 8px;
	border: 1px solid #ddd;
	font-weight: bold;
	cursor: pointer;
}

.rm-forum-private-messages-view-text {
	font-size: 11px;
	background: #fff;
	padding: 15px;
	border: 1px solid #ddd;
	height: 110px;
	overflow: auto;
}

.rm-forum-privatemessages-buttonset {
	padding: 8px 0 8px 0;
	text-align: right;
}

/**** CUSTOMER BLOCK ********/

.rm-forum-customer-main-block {
	padding: 25px;
	margin: 10px;
	border: 1px solid silver;
	width: 480px;
}

.rm-forum-customer-block {

}

.rm-forum-customer-avatar-block {
	padding: 7px;
	background: #fff;
	border: 1px solid #ccc;
	width: 100px;
	text-align: center;
	margin: 6px;
}

.rm-forum-customer-info-block {
	padding: 10px 10px 10px 10px;
}

.rm-forum-customer-pm-block {
	text-align: center;
	padding: 4px;
}

.rm-forum-customer-pm-block a {
	text-decoration: none;
	font-size: 15px;
	background: url('../../images/forum/letter.png') left center no-repeat;
	padding-left: 17px;
	width: auto;
}

.rm-forum-aligned-right {
	text-align: right;
}

.rm-forum-search-type {
	margin: 3px;
}

.rm-forum-search-type a {
	display: inline-block;
	padding: 2px 4px 2px 4px;
}

.rm-forum-search-type a.selected {
	background: yellow;
}