/*############## TLIB */
.tWin {
	position: absolute;
}

.tWinTitle {
	position: relative;
	background-color: #AABBDD;
	border: 2px solid #AABBDD;
}

.tFrame {
	position: relative;
	background-color: #FFF;
	padding: 1em;
	border: 2px solid #AABBDD;
}

.tLoader {
	background: #FFF;
	text-align: center;
	padding-top: 10px;
	font-weight: bold;
	border: 1px solid black;
}

.tBaloon {
	background-color: #FFF;
	border: 2px solid #618499;
	width: 285px;
}

.tFrameBg {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

/*** SEARCH BOX LAYOUT ***/
.tFocus {
	border: 3px solid red;
	filter: alpha(opacity=15);
	opacity: 0.15;
	background-color: white;
}

.tScroller {
	position: absolute;
	border: 1px solid black;
}

.tMiddleElScroller {
	background: #333333;
	width: 10px;
	position: absolute;
	cursor: pointer;
}

div.tSelectedSpan {
	border: 1px solid black;
	font-size: 12px;
	padding: 2px;
	cursor: pointer;
	font-weight: bold;
	color: #000;
}

span.tslectedText {
	background: #fde2d3;
	font-weight: bold;
	font-size: 12px;
	color: #000;
}

/*** WINDOW FRAME STYLES ***/
.tWinBack {
	position: absolute;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	background: #000;
	filter: alpha(opacity=15);
	opacity: 0.15;
}

.tWinBody {
	position: absolute;
	background: #fff;
	border: 2px solid #6d2e47;
	float: left;
}

.tWinClose {
	cursor: pointer;
	position: absolute;
}

.tFrameWin {
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
}