<?php
$_results = $this->getResults();
?>
<div class="content-header">
  <h3 >Validator</h3>
  <p class="content-buttons form-buttons">
    <button type="button" class="scalable back" onclick="setLocation('<?php echo $this->getBackUrl() ?>')"><span><span>Back</span></span></button>
  </p>
</div>
<div class="grid">
  <table class="data" cellspacing="0">
    <thead>
      <tr class="headings">
        <th>Test</th>
        <th>Status</th>
        <th>How to fix</th>
      </tr>
    </thead>
    <?php foreach ($_results as $_result): ?>
    <tr>
      <td><?php echo $_result[1] ?></td>
      <td>
        <?php if ($_result[0] == true): ?>
          <div class="grid-severity-notice"><span>Success</span></div>
        <?php else: ?>
          <div class="grid-severity-critical"><span>Failed</span></div>
        <?php endif ?>
      </td>
      <td>
        <?php if (!$_result[0]): ?>
          <?php echo $_result[2] ?>
        <?php endif ?>
      </td>
    </tr>
    <?php endforeach ?>
  </table>
</div>