<?php
    $_product = $this->getProduct();
    $_helper = $this->helper('catalog/output');
?>
<div class="product-image-wrap">
    <div class="product-image">
        <ul>
            <li>
                <?php
                    $_img = '<img src="'.$this->helper('catalog/image')->init($_product, 'image')->resize(320, 620).'" width="160" height="310" alt="'.$this->escapeHtml($this->getImageLabel()).'" title="'.$this->escapeHtml($this->getImageLabel()).'" />';
                    echo $_helper->productAttribute($_product, $_img, 'image');
                ?>
            </li>
            <?php if (count($this->getGalleryImages()) > 0): ?>
                <?php $i = 0; ?>
                <?php foreach ($this->getGalleryImages() as $_image): ?>
                    <?php ++$i ?>
                    <li><img src="<?php echo $this->helper('catalog/image')->init($this->getProduct(), 'thumbnail', $_image->getFile())->resize(320, 620); ?>" width="160" height="310" alt="<?php echo $this->escapeHtml($_image->getLabel()) ?>" /></li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
    </div>
</div>
