<!--@subject Заказ №{{var order.increment_id}} принят в магазине {{var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body
	style="background:#F6F6F6;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; margin:0; padding:0;"
>
	<div
		style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;"
	>
		<table
			cellspacing="0"
			cellpadding="0"
			border="0"
			width="100%"
		>
			<tr>
    			<td
					align="center"
					valign="top"
					style="padding:20px 0 20px 0"
				>
        			<table
						bgcolor="#FFFFFF"
						cellspacing="0"
						cellpadding="10"
						border="0"
						width="650"
						style="border:1px solid #E0E0E0;"
					>
						<tr>
                			<td valign="top">
								<h1
									style="font-size:22px;
									font-weight:normal;
									line-height:22px;
									margin:0 0 11px 0;"
								>
									Здравствуйте, {{htmlescape var=$order.getCustomerName()}}!
								</h1>


								<p
									style="font-size:12px; line-height:16px; margin:0;"
								>
									Ваш заказ №{{var order.increment_id}}
									принят к выполнению в магазине «{{var store.getFrontendName()}}».
									<br/>
									Мы будем оповещать Вас о ходе выполнения заказа по почте.
									<br/>
									Перед доставкой мы Вам позвоним, чтобы согласовать время доставки.
									<br/>
									Если у Вас возникнут вопросы — их можно задать по почте
									<a
										href="mailto:{{config path='trans_email/ident_support/email'}}"
										style="color:#1E7EC8;"
									>{{config path='trans_email/ident_support/email'}}</a>
									или по телефону
									<span class="nobr">
										{{config path='general/store_information/phone'}}
									</span>
									ежедневно с 09:00 до 21:00 (мос.вр).
								</p>
							</td>
						</tr>
           				 <tr>
							<td>
								<h2 style="font-size:18px; font-weight:normal;
								margin:0;">Ваш заказ #{{var order.increment_id}}
									<small>(создан {{var order.getCreatedAtFormated('long')}})</small></h2>
							</td>
						</tr>
            			<tr>
                			<td>
                    			<table cellspacing="0" cellpadding="0" border="0" width="650">
                        			<thead>
										<tr>
											<th
												align="left"
												width="325"
												bgcolor="#EAEAEA"
												style="font-size:13px;
												padding:5px 9px 6px 9px;
												line-height:1em;"
											>Плательщик:</th>
											<th width="10"></th>
											<th
												align="left"
												width="325"
												bgcolor="#EAEAEA"
												style="font-size:13px;
												padding:5px 9px 6px 9px;
												line-height:1em;"
											>Способ оплаты:</th>
										</tr>
                        			</thead>
                        			<tbody>
										<tr>
											<td
												valign="top"
												style="font-size:12px;
												padding:7px 9px 9px 9px;
												border-left:1px solid #EAEAEA;
												border-bottom:1px solid #EAEAEA;
												border-right:1px solid #EAEAEA;"
											>
												{{var order.getBillingAddress().format('html')}}
											</td>
											<td>&nbsp;</td>
											<td
												valign="top"
												style="font-size:12px;
												padding:7px 9px 9px 9px;
												border-left:1px solid #EAEAEA; border-bottom:1px solid #EAEAEA;
												border-right:1px solid #EAEAEA;"
											>
												{{var payment_html}}
											</td>
										</tr>
                        			</tbody>
                    			</table>
                    			<br/>
                    			{{depend order.getIsNotVirtual()}}
								<table cellspacing="0" cellpadding="0" border="0" width="650">
									<thead>
										<tr>
											<th
												align="left"
												width="325"
												bgcolor="#EAEAEA"
												style="font-size:13px;
												padding:5px 9px 6px 9px;
												line-height:1em;"
											>Адрес доставки:</th>
											<th width="10"></th>
											<th
												align="left"
												width="325"
												bgcolor="#EAEAEA"
												style="font-size:13px;
												padding:5px 9px 6px 9px;
												line-height:1em;"
											>Способ доставки:</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td
												valign="top"
												style="font-size:12px;
												padding:7px 9px 9px 9px;
												border-left:1px solid #EAEAEA;
												border-bottom:1px solid #EAEAEA;
												border-right:1px solid #EAEAEA;"
											>
												{{var order.getShippingAddress().format('html')}}
												&nbsp;
											</td>
											<td>&nbsp;</td>
											<td
												valign="top"
												style="font-size:12px;
												padding:7px 9px 9px 9px;
												border-left:1px solid #EAEAEA;
												border-bottom:1px solid #EAEAEA;
												border-right:1px solid #EAEAEA;"
											>
												{{var order.getShippingDescription()}}
												&nbsp;
											</td>
										</tr>
									</tbody>
								</table>
                    			<br/>
                    			{{/depend}}
								{{layout handle="sales_email_order_items" order=$order}}
                    			<p
									style="font-size:12px;
									margin:0 0 10px 0"
								>
									{{var order.getEmailCustomerNote()}}
								</p>
                			</td>
            			</tr>
            			<tr>
                			<td
								bgcolor="#EAEAEA"
								align="center"
								style="background:#EAEAEA;
								text-align:center;"
							>
								<center>
									<p
										style="font-size:12px;
										margin:0;"
									>
										Спасибо за покупку!
										<br/>
										Магазин «<strong>{{var store.getFrontendName()}}</strong>».
									</p>
								</center>
							</td>
            			</tr>
        			</table>
    			</td>
			</tr>
		</table>
	</div>
</body>
