<!--@subject Доставка №{{var shipment.increment_id}} изменена @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"store url=\"customer/account/\"":"Customer Account Url",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body
	style="background:#F6F6F6;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px; margin:0; padding:0;"
>
	<div
		style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;"
	>
		<table
			cellspacing="0"
			cellpadding="0"
			border="0"
			width="100%"
		>
			<tr>
    			<td
					align="center"
					valign="top"
					style="padding:20px 0 20px 0"
				>
        			<table
						bgcolor="#FFFFFF"
						cellspacing="0"
						cellpadding="10"
						border="0"
						width="650"
						style="border:1px solid #E0E0E0;"
					>
						<tr>
							<td valign="top">
								<h1
									style="font-size:22px;
									font-weight:normal;
									line-height:22px;
									margin:0 0 11px 0;"
								>
									Здравствуйте, {{htmlescape var=$order.getCustomerName()}}!
								</h1>

								<p
									style="font-size:12px; line-height:16px; margin:0 0 10px 0;"
								>
									Ваш заказ №{{var order.increment_id}} переведён в состояние
									<strong>«{{var order.getStatusLabel()}}»</strong>.
								</p>
								<p style="font-size:12px; line-height:16px; margin:0 0 10px 0;">{{var comment}}</p>
								<p style="font-size:12px; line-height:16px; margin:0;">
									Текущее состояние заказа Вы можете в любой момент самостоятельно узнать в Вашем
									<a
										href="{{store url="customer/account/"}}" style="color:#1E7EC8;"
									>личном кабинете</a>.
									<br/>
									Если у Вас возникнут вопросы — их можно задать по почте
									<a
										href="mailto:{{config path='trans_email/ident_support/email'}}"
										style="color:#1E7EC8;"
									>{{config path='trans_email/ident_support/email'}}</a>
									или по телефону
									<span class="nobr">
										{{config path='general/store_information/phone'}}
									</span>
									ежедневно с 09:00 до 21:00 (мос.вр).
								</p>
							</td>
						</tr>
            			<tr>
                			<td
								bgcolor="#EAEAEA"
								align="center"
								style="background:#EAEAEA;
								text-align:center;"
							>
								<center>
									<p
										style="font-size:12px;
										margin:0;"
									>
										Спасибо за покупку!
										<br/>
										Магазин «<strong>{{var store.getFrontendName()}}</strong>».
									</p>
								</center>
							</td>
            			</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</body>
