
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
    margin:0;    /* Set this to minus the border thickness. */
    background-color:#fff;
   /* cursor:move;*/
	display:none !important;
}

/* This is for the title text. */
.cloud-zoom-title {
    font-family:Arial, Helvetica, sans-serif;
    position:absolute !important;
    background-color:#000;
    color:#fff;
    padding:3px;
    width:100%;
    text-align:center;
    font-weight:bold;
    font-size:10px;
    top:0px;
}

/* This is the zoom window. */
#cloud-zoom-big {
    overflow:hidden;
	/*left:-195px !important;
	top: -195px !important;*/
	margin-left: 25px;
	border: 1px solid #e2e2e2;
	box-shadow: 0 0px 15px rgba(0,0,0,0.10);
	-moz-box-shadow: 0 0px 15px rgba(0,0,0,0.10);
	-webkit-box-shadow: 0 0px 15px rgba(0,0,0,0.10);
	width:500px !important;
	height: 500px !important;
	background-color:#fff;
	
	display:none !important;
}
.cloud-zoom-lens {
	border: 1px solid #e2e2e2;
}
/* This is the loading message. */
.cloud-zoom-loading {
	font-size:0;
}

.product-image .mousetrap {z-index:100 !important;}
