<?php $rma = $this->getRma();
$order = $rma->getOrder();
$customFields = $this->getCustomFields();
?>
<h1><?php echo $this->__('RMA #%s', $rma->getIncrementId()) ?></h1>
<p class="order-date">
    <?php echo $this->__('Date: %s', $this->formatDate($rma->getCreatedAt(), 'long')) ?><br>
    <?php echo $this->__('Original order: #%s', $rma->getOrder()->getIncrementId()) ?>
</p>
<div class="col3-set">
    <div class="col-1">
        <h2><?php echo $this->__('Return Address') ?></h2>
        <address><?php echo $rma->getReturnAddressHtml() ?></address>
    </div>
    <div class="col-1">
        <h2><?php echo $this->__('Customer Information') ?></h2>
        <address><?php echo $rma->getShippingAddressHtml() ?></address>
    </div>
    <?php if (count($customFields)): ?>
    <div class="col-1">
        <h2><?php echo $this->__('Additional Information') ?></h2>
        <address>
        <?php foreach ($customFields as $field): ?>
        <?php if (!$value = Mage::helper('rma/field')->getValue($rma, $field)) continue; ?>
            <b><?php echo $this->__($field->getName()) ?>:</b> <?php echo $value ?><br>
        <?php endforeach; ?>
        </address>
    </div>
    <?php endif; ?>
</div>

<h2><?php echo $this->__('RMA Items') ?></h2>
<table class="data-table" id="my-orders-table">
    <col width="1" />
    <col width="1" />
    <col width="1" />
    <thead>
        <tr>
            <th><?php echo $this->__('Product Name') ?></th>
            <th><?php echo $this->__('SKU') ?></th>
            <th class="a-center"><?php echo $this->__('Qty') ?></th>
        </tr>
    </thead>
    <tfoot>
        <?php echo $this->getChildHtml('order_totals') ?>
    </tfoot>
    <tbody>
    <?php foreach($rma->getItemCollection() as $item):?>
        <tr class="border">
            <td><h3 class="product-name"><?php echo $item->getProduct()->getName() ?></h3></td>
            <td><?php echo $item->getProduct()->getSku() ?></td>
            <td class="a-center"><?php echo $item->getQtyRequested() ?></td>
        </tr>
    <?php endforeach?>
    </tbody>
</table>
<script type="text/javascript">decorateTable('my-orders-table', {'tbody' : ['odd', 'even'], 'tbody tr' : ['first', 'last']})</script>
<script type="text/javascript">window.print();</script>
