<!--@subject Смена административного пароля к магазину {{var var store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body
	style="background: #F6F6F6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;"
>
    <div
		style="background: #F6F6F6;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 12px;
		margin: 0;
		padding: 0;"
	>
        <table
			cellspacing="0"
			cellpadding="0"
			border="0"
			height="100%"
			width="100%"
		>
            <tr>
                <td
					align="center"
					valign="top"
					style="padding: 20px 0 20px 0"
				>
                    <table
						bgcolor="FFFFFF"
						cellspacing="0"
						cellpadding="10"
						border="0"
						width="650"
						style="border:1px solid #E0E0E0;"
					>
                        <tr>
                            <td valign="top">
                                <a
									href='{{store url=""}}'
									style="color:#1E7EC8;"
								><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top">
                                <h1
									style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;"
								>Здравствуйте, {{htmlescape var=$user.name}}!</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">
									Для смены пароля к Личному кабинету «{{var store.getFrontendName()}}»
									перейдите по ссылке:<br/>
									<a
										href='{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}'
										style="color:#1E7EC8;"
									>{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}</a>
								</p>
								<p style="font-size: 9px; line-height: 12px; margin: 0;">
									Если перейти по ссылке не получается,
									то скопируйте её в буфер обмена
									(выделите ссылку и нажмите <b>CTRL+C</b>), затем вставьте её в адресную строку браузера
									(кликните мышкой по адресной строке браузера и нажмите <b>CTRL+V</b>).
								</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;">
								<p style="font-size:12px; margin:0; text-align: center;">
									интернет-магазин «<b>{{var store.getFrontendName()}}</b>»
								</p>
							</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
