<?php /** @var Mage_Install_Block_State $this */ ?>
<div style="border:1px solid #ccc; background:#f6f6f6;">
    <h2 style="margin-bottom:0; border-bottom:1px solid #ccc; padding:4px 10px; color:#3c5974; font-size:1.4em;">шаги</h2>
<ol style="padding:10px; border-top:1px solid #fff;">
<?php
	/**
	 * Метод @see  Mage_Install_Block_State::getDownloaderSteps() отсутствует в Magento CE 1.4
	 */
	if (method_exists($this, 'getDownloaderSteps')) {
		foreach($this->getDownloaderSteps() as $step) {
			?><li><?php echo $step ?></li><?php
		}
	}
	else {
		?><li><?php echo $this->__('Download')?></li><?php
	}
?>
<?php foreach($steps as $_step): ?>
    <li <?php if($_step->getActive()): ?>style="color:green; font-weight:bold; "<?php endif ?>><?php echo $this->__($_step->getCode()) ?></li>
<?php endforeach ?>
</ol>
</div>

<br/>
<p>
	покупатели Российской сборки Magento имеют право на услугу бесплатной
	<a href='http://magento-forum.ru/topic/2829/'>настройки под ключ</a>
	быстрого сервера для своего магазина и установки на этот сервер всего необходимого программного обеспечения,
	в том числе и Российской сборки Magento
</p>
