<?php $_cartItems = $this->helper('checkout/cart')->getSummaryCount(); ?>
<div class="block-cart-header">
	<dt class="cart-icon <?php echo $this->getInCart() ? 'active' : '' ?>">
                <a href="<?php echo $this->getUrl('checkout/cart'); ?>">Cart</a>
                <?php echo $_cartItems > 0 ? '<span>'.$_cartItems.'</span>' : ''; ?>
	</dt>
</div>