<?php
$rma = $this->getRma();
$fieldForm = $this->getFieldForm();
$refundResolutionId = Mage::helper('rma')->getResolutionByCode('refund')->getId();
?>

<!-- <div class="remodal" data-remodal-id="order-exchange-popup">
<form id="exchange_form" action="<?php echo $this->getUrl('*/*/exchange') ?>" method="post" enctype="multipart/form-data">
	<input name="form_key" type="hidden" value="<?php echo $this->getFormKey()?>" />
	<input name='rma_id' value='<?php echo $rma->getId()?>' type='hidden'>
	<input name='order_id' value='<?php echo $rma->getOrderId()?>' type='hidden'>

	<?php echo $this->getExchangeOrderForm()->toHtml() ?>
	<a class="remodal-cancel" href="#">Cancel</a>
    <a class="remodal-confirm" href="#">OK</a>

<button title="Submit" type="button" class="scalable save" onclick="exchangeForm.submit();" style="">
	<span>Submit</span>
</button>
</form>
<script type="text/javascript">
	jQuery(document).on('opened', '.remodal', function () {
	    // var modal = $(this);
	    exchangeForm = new varienForm('exchange_form', '');
	});
</script>
</div> -->

<form id="edit_form" action="<?php echo $this->getUrl('*/*/save') ?>" method="post" enctype="multipart/form-data">
<input name="form_key" type="hidden" value="<?php echo $this->getFormKey()?>" />
<input name='rma_id' value='<?php echo $rma->getId()?>' type='hidden'>
<input name='order_id' value='<?php echo $rma->getOrderId()?>' type='hidden'>

<div class="entry-edit">

	<?php if ($fieldForm): ?>
	<div class="box-left">
	    <div class="entry-edit">
	  		<?php echo $this->getGeneralInfoForm()->toHtml() ?>
	    </div>
    </div>
	<div class="box-right">
		<div class="entry-edit">
			<?php echo $fieldForm->toHtml() ?>
		</div>
	</div>
	<div class="clear"></div>
<?php else: ?>
<?php echo $this->getGeneralInfoForm()->toHtml() ?>
<?php endif; ?>

<div class="entry-edit">
	<div class="entry-edit-head">
		<h4 class="fieldset-legend "><?php echo $this->__('Items') ?></h4>
	</div>
	<div class="fieldset">
		<div id="rma_item_edit_grid">
			<div class="grid">
				<div class="hor-scroll">
					<table cellspacing="0" class="data" id="rma_item_edit_grid_table">
					<thead>
						<tr class="headings">
							<th class="no-link"><span class="nobr"><?php echo $this->__('Product Name') ?></span></th>
							<th class="no-link"><span class="nobr">SKU</span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Stock Qty') ?></span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Ordered Qty') ?></span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Qty to Return') ?></span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Reason to Return') ?></span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Item Condition') ?></span></th>
							<th class="no-link"><span class="nobr"><?php echo $this->__('Resolution') ?></span></th>
<!-- 							<th class="no-link"><span class="nobr">Return to stock</span></th>
							<th class="no-link"><span class="nobr">Add to credit memo</span></th>
							<th class="no-link"><span class="nobr">Add to exchange order</span></th> -->
						</tr>
					</thead>
					<tbody>
						<?php
$i = 0;
						 foreach (Mage::helper('rma')->getRmaItems($rma) as $item):
$i++;
?>
						<?php if ($item->getProductType() == 'bundle'): ?>
						<tr class="even">
							<td><?php echo Mage::helper('rma')->getOrderItemLabel($item)?> <?php echo $this->__('(Bundled Product)') ?></td>
							<td><?php echo $item->getProduct()->getSku()?></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
						<?php
							continue;
						endif
						?>
						<tr <?php echo $rma->getId() > 0 && $item->getQtyRequested() == 0? "style='display:none;' class='even hidden_items'": "class='even'"?>>
							<td>
								<?php if ($item->getIsBundleItem()):?> &nbsp;&nbsp;&nbsp; <?php endif;?>
								<?php echo Mage::helper('rma')->getOrderItemLabel($item)?></td>
							<td><?php echo $item->getProduct()->getSku()?></td>
							<td><?php echo $item->getQtyStock()?></td>
							<td><?php echo $item->getQtyOrdered()?></td>
							<td>
								<input name='items[<?php echo $i ?>][item_id]' value='<?php echo $item->getId()?>' type='hidden'>
								<input name='items[<?php echo $i ?>][order_item_id]' value='<?php echo $item->getOrderItemId()?>' type='hidden'>

								<input name='items[<?php echo $i ?>][qty_requested]' class="input-text required-entry" value ='<?php echo $item->getQtyRequested()?$item->getQtyRequested():0?>'></td>
							<td>
		                        <select name="items[<?php echo $i ?>][reason_id]">
		                            <option value=""><?php echo $this->__('--')?></option>
		                            <?php foreach ($this->getReasonCollection() as $reason): ?>
		                            <option value="<?php echo $reason->getId()?>" <?php echo $reason->getId() == $item->getReasonId()?'selected' : ''?>><?php echo $reason->getName() ?></option>
		                            <?php endforeach;?>
		                        </select>
							</td>
							<td>
		                        <select name="items[<?php echo $i ?>][condition_id]">
		                            <option value=""><?php echo $this->__('--')?></option>
		                            <?php foreach ($this->getConditionCollection() as $condition): ?>
		                            <option value="<?php echo $condition->getId()?>" <?php echo $condition->getId() == $item->getConditionId()?'selected' : ''?>><?php echo $condition->getName() ?></option>
		                            <?php endforeach;?>
		                        </select>
							</td>
							<td>
		                        <select name="items[<?php echo $i ?>][resolution_id]" onchange='if(this.value == <?php echo $refundResolutionId ?>) $("to_stock_<?php echo $i ?>").show(); else $("to_stock_<?php echo $i ?>").hide();'>
		                            <option value=""><?php echo $this->__('--')?></option>
		                            <?php foreach ($this->getResolutionCollection() as $resolution): ?>
		                            <option value="<?php echo $resolution->getId()?>" <?php echo $resolution->getId() == $item->getResolutionId()?'selected' : ''?>><?php echo $resolution->getName() ?></option>
		                            <?php endforeach;?>
		                        </select>

								<select name="items[<?php echo $i ?>][to_stock]" <?php echo $item->getResolutionId() != $refundResolutionId?'style="display:none"':'' ?> id='to_stock_<?php echo $i ?>'>
		                            <option value="0"><?php echo $this->__('Don\'t return to Stock')?></option>
		                            <option value="1" <?php echo $item->getToStock() ?'selected' : ''?>><?php echo $this->__('Return to Stock')?></option>
		                        </select>
							</td>
<!-- 							<td><input type="checkbox" /></td>
							<td><input type="checkbox" /></td>
							<td><input type="checkbox" /></td>
 -->						</tr>
						<?php endforeach; ?>
					</tbody>
					</table>
				</div>
			</div>
			<?php if($rma->getId() > 0) :?>
				<a href='#' onclick="$$('tr.hidden_items').each(Element.show);$(this).hide(); return false"><?php echo $this->__('Show all order items') ?></a>
			<?php endif?>
		</div>
	</div>
</div>


	<div class="box-left">
	    <div class="entry-edit">
	  <?php echo $this->getShippingAddressForm()->toHtml() ?>
	    </div>
    </div>
	<div class="box-right">
		<div class="entry-edit">
			<div class="entry-edit-head">
			    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Return Address') ?></h4>
			    <div class="form-buttons"></div>
			</div>
		    <div class="fieldset ">
			    <div class="hor-scroll">
			   <?php echo $this->getReturnAddressHtml() ?>
		        </div>
		    </div>
		</div>
	</div>
	<div class="clear"></div>
<?php if ($rma->getId()) :?>
	<div class="box-left">
	    <div class="entry-edit">
			<div class="entry-edit-head">
			    <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('RMA History') ?></h4>
			    <div class="form-buttons"></div>
			</div>
		    <div class="fieldset">
				<?php echo $this->getHistoryHtml() ?>
		    </div>
		</div>
	    </div>
    </div>
	<div class="box-right">
		<div class="entry-edit">
			<div class="entry-edit-head">
				<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Add Message') ?></h4>
				<div class="form-buttons"></div>
			</div>
			<div class="fieldset " id="edit_fieldset">
				<div class="hor-scroll">
					<table cellspacing="0" class="form-list" style="width:100%">
						<tbody>
						<tr>
							<td class="value">
								<select id="reply_type" name="reply_type" class=" select">
								<option value="public" selected="selected"><?php echo $this->__('Message to Customer') ?></option>
								<option value="internal"><?php echo $this->__('Internal Note') ?></option>
								</select>
								<div id="rma_reply_note"></div>
							</td>
						</tr>
						<tr>
							<td class="value">
							<textarea id="reply" name="reply" rows="2" cols="30" class=" textarea" style="width:92%"></textarea>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="clear"></div>
<?php endif;?>
</div>
</div>