@import "mixin.less";

.rma-item-template {
    position: relative;

    .remove {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}
.rma-add-item {
    float: right;
}

.rma-one-item {
    .clearfix();
    margin-bottom: 10px;

    .item-description {
        float: left;
        width: 305px;
        border-right: 1px solid #EEE5DA;

        input {
            margin-right: 10px;
        }
        img {
            margin-right: 10px;
            width: 75px;
        }

        b {
            display: block;
            float: right;
            width: 190px;
        }
    }
    .item-options {
        border-left: 1px solid #EEE5DA;
        float: left;
        margin-left: -1px;
        padding-left: 10px;
        width: 300px;

        >div {
            position: relative;
            margin-bottom: 10px;
            .clearfix();

            label {
                width: 125px;
                display: block;
                float: left;

                em {
                    color: #DB0000;
                    margin-right: 3px;
                }
            }

            select {
                width: 170px;
            }

            .total-qty {
                position: absolute;
                left: 184px;
                top: 1px;
            }

            .validation-advice {
                margin-left: 123px;
            }
        }
    }
}

#rma-table .unread {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 11px;
  background-image: url(../../../images/mst_rma/i_unread2.png);
  background-size: 20px 20px;
  background-position: 0px -8px;
}