.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rma-item-template {
  position: relative;
}
.rma-item-template .remove {
  position: absolute;
  right: 5px;
  top: 5px;
}
.rma-add-item {
  float: right;
}
.rma-one-item {
  *zoom: 1;
  margin-bottom: 10px;
}
.rma-one-item:before,
.rma-one-item:after {
  display: table;
  content: "";
  line-height: 0;
}
.rma-one-item:after {
  clear: both;
}
.rma-one-item .item-description {
  float: left;
  width: 305px;
  border-right: 1px solid #EEE5DA;
}
.rma-one-item .item-description input {
  margin-right: 10px;
}
.rma-one-item .item-description img {
  margin-right: 10px;
  width: 75px;
}
.rma-one-item .item-description b {
  display: block;
  float: right;
  width: 190px;
}
.rma-one-item .item-options {
  border-left: 1px solid #EEE5DA;
  float: left;
  margin-left: -1px;
  padding-left: 10px;
  width: 300px;
}
.rma-one-item .item-options > div {
  position: relative;
  margin-bottom: 10px;
  *zoom: 1;
}
.rma-one-item .item-options > div:before,
.rma-one-item .item-options > div:after {
  display: table;
  content: "";
  line-height: 0;
}
.rma-one-item .item-options > div:after {
  clear: both;
}
.rma-one-item .item-options > div label {
  width: 125px;
  display: block;
  float: left;
}
.rma-one-item .item-options > div label em {
  color: #DB0000;
  margin-right: 3px;
}
.rma-one-item .item-options > div select {
  width: 170px;
}
.rma-one-item .item-options > div .total-qty {
  position: absolute;
  left: 184px;
  top: 1px;
}
.rma-one-item .item-options > div .validation-advice {
  margin-left: 123px;
}
#rma-table .unread {
  display: inline-block;
  margin-left: 5px;
  width: 20px;
  height: 11px;
  background-image: url(../../../images/mst_rma/i_unread2.png);
  background-size: 20px 20px;
  background-position: 0px -8px;
}
