/* Theme options */

/* Links Color */
a {color:#1394ca}

/* Main color */
body header,
body footer ul,
body address.copyright {}

/* Button Color */
a[href*="invitation/index/send/"].button,
.map-popup-checkout button,
.more-button,
.btn-checkout,
.account-login button,
.add-to-links > li > a,
.cart-table tfoot button,
.opc .buttons-set button,
.checkout-success button,
.box-reviews .buttons-set button,
.my-account .form-buttons button,
#contactForm .buttons-set button,
.giftregistry .buttons-set button,
.wishlist-view .buttons-set button,
.send-to-friend .buttons-set button,
.account-create .buttons-set button,
.add-to-links > li .split-button strong,
.catalog-product-gallery .buttons-set a,
.my-account .my-rewards .buttons-set button,
.my-account .my-wishlist .buttons-set button,
.my-wishlist-shared .buttons-set button,
.product-view .product-shop .add-to-box button,
.popup-block .block-content .buttons-set button,
.customer-account-forgotpassword .buttons-set button,
.product-view .product-options-bottom .add-to-cart button,
.my-account .billing-agreements .box-content .form-list select + button {
background:-webkit-linear-gradient(top,#000,#615e5e);
background:-moz-linear-gradient(top,#000,#615e5e);
background:-ms-linear-gradient(top,#000,#615e5e);
background:-o-linear-gradient(top,#000,#615e5e);
background:-webkit-gradient(linear,0 100%,0 0,from(#000),to(#615e5e))}

/* Links color */
#nav-container li a {color:#111}

/* Buttons background color */
.form-subscribe button {background:green}
.brand-list, #newsletter-validate-detail, .availability {display:none}
header .menu-wrapper {border-bottom:6px solid black} 
header {margin-bottom:5px}
#nav li {border-top:1px solid #ccc}
#nav li.level0 {overflow:hidden}
#nav li.level0.last {border-bottom:1px solid #ccc}
ul.level0 li {width:50%; float:left; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; display:block; overflow:hidden}
ul.level0 {height:auto; width:93% !important; overflow:hidden; background-color:white; margin:0 10px !important; border:1px solid #d9d9d9; top:2px; float:none !important; margin-bottom:-2px !important}
.menu-box ul.level0 {width:80% !important; margin:-3px 0px !important; border-bottom:0px}
.menu-box  #nav ul.level0 li  a {padding:0px !important}
.menu-box  #nav ul.level0 li  a span {height:60px}
#nav ul.level0 li a {background:none !important; color:#838383 !important; font-weight:normal; font-size:14px; font-family:'Open Sans', sans-serif; margin:0px !important; border-right:1px solid #d9d9d9}
#nav ul.level0 li {	border-top:none !important}
#nav ul.level0 li:nth-child(2n)  a {border-right:0px solid #d9d9d9}
#nav ul.level0 li:nth-child(n+1)  a {border-bottom:1px solid #d9d9d9}
#nav ul.level0 li.last  a {/*border-bottom:0px solid #d9d9d9;*/}
#nav ul.level0 li a span {padding:0px 7px !important; height:40px; width:100%; vertical-align:middle; display:table-cell}
li.subcategory-header, ul.level1 {display:none !important}
#menu-bottom a {text-indent:-100px}
#home-banner-top {margin-bottom:5px}
#home-banner-bottom {border-bottom:1px solid #ccc;padding-bottom:10px; margin-top:10px;margin-bottom:5px}

.menu-box li {border-bottom:1px solid #FFF;border-top:1px solid #ccc}
.menu-box #nav-container li a {margin:0px !important}
.menu-box #nav-container li a span {padding:0px !important}
#body {position:absolute; width:100%; height:100%}
#body-back { position:fixed; top:0px; left:0px; background:#fafafa; opacity:0; width:100%; height:100%; z-index:9990; display:none; }
#ajax_event { display:none; position:fixed; top:60px; left:4%; background:white; padding:10px; border:1px solid black; z-index:9999; width:85%; height:auto; }
.ajax_event .close { text-indent:-9000px; display:block; width:20px; height:20px; position:absolute; top:10px; right:10px; background:url(../images/event_close.png) 0 0 no-repeat; }
.ajax_event button{
	background:-webkit-linear-gradient(top,#000,#615e5e);
	background:-moz-linear-gradient(top,#000,#615e5e);
	background:-ms-linear-gradient(top,#000,#615e5e);
	background:-o-linear-gradient(top,#000,#615e5e);
	background:-webkit-gradient(linear,0 100%,0 0,from(#000),to(#615e5e));
	color:#ccc; font-size:14px; display:block; border:0; height:39px; line-height:39px; padding:0; text-shadow:0 -1px 0 rgba(0, 0, 0, .45); width:45%; float:right; margin-right:10px; margin-top:15px;
}
.ajax_event button.first {clear:both}
.ajax_event .product-info .product-detailed .product-atr, .ajax_event .product-info .product-detailed .product-qty { width:116px; float:left; font-weight:bold; }
.ajax_event .product-info .product-manufactrurer {font-weight:bold}
.ajax_event .title{font-size:18px;font-weight:bold;margin-bottom:15px}
