/*@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/robotocondensed-regular-webfont.eot');
    src: url('../fonts/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/robotocondensed-regular-webfont.woff2') format('woff2'),
    url('../fonts/robotocondensed-regular-webfont.woff') format('woff'),
    url('../fonts/robotocondensed-regular-webfont.ttf') format('truetype'),
    url('../fonts/robotocondensed-regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


.nav-container {position: relative; z-index: 2; margin-bottom: 7px; padding-bottom:0; margin-top: 22px}
.sf-menu {font-size: 13px; line-height: 17px; position: relative; border-bottom: none; float: left}
.sf-menu li {float: left; text-align: left; position: relative; z-index: 99; margin-right: 0; margin-bottom: 0px}
.sf-menu li a {display: block; color: #383737; text-decoration: none; position: relative; padding: 0}
.sf-menu > li > a {border-left: 1px solid #242424; border-bottom: 0; background-color: #fff; margin-left: -1px}
.sf-menu li.first  a {border-left: none !important}
.sf-menu > li > a:last-child {border-right: 1px solid #242424}
.sf-menu > li > a > span {display: table-cell; vertical-align: middle; font-family: 'Roboto Condensed', sans-serif; font-size: 1.35em; line-height: 20px; font-weight: normal; color: #050507; cursor: pointer; white-space: nowrap; padding: 0 15px; text-align: center; text-transform: uppercase; padding-bottom: 2px; letter-spacing: 2px}
#nav li:nth-child(1) span {padding-left: 0px}
.sf-menu li ul a span {white-space: nowrap;word-wrap: normal}
.sf-menu > li.parent > a > span {}
.sf-menu > li.parent.sfHover > a span,
.sf-menu> li.parent  > a:hover span,
.sf-menu > li.parent.active > a span {}
.sf-menu > li.sfHover > a,
.sf-menu> li > a:hover,
.sf-menu > li.active > a {color: #949494; position: relative}
.sf-menu > li.sfHover > a span,
.sf-menu > li > a:hover span,
.sf-menu > li.active > a span {color: #949494}
.sf-menu li a:hover {text-decoration: none; color: #949494}
.sf-menu ul {position: absolute; top: -999em; z-index: 99; display: none; background: #e7e7e8}
.sf-menu li li {}
.sf-menu li li.parent {padding-right: 15px}
.sf-menu li li.last {border-bottom: none}
.sf-menu li li.sfHover,
.sf-menu li li {float: none; border-right: none; position: relative; padding:1px 20px}
.sf-menu li li:hover {background-color: #dfdfdf}
.sf-menu li li a,
.sf-menu li.sfHover li a,
.sf-menu li.active li a {display:block; background: none; font-size: 12px; line-height: 24px; color: #636363; font-weight: 600; padding: 0px 9px; font-family: 'Open Sans', sans-serif}
.sf-menu li.sfHover li:hover a {color: #404040}
.sf-menu li li > a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.active > a {}
.sf-menu ul ul {position: absolute; top: -999em; z-index: 99}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {left: 0px; top: 30px; padding: 17px 0 10px 0}

ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {top: -999em}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 100.5%;
  /* match ul width */
  top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {top: -999em}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 193px;
  /* match ul width */
  top: 0;
}
@media only screen and (min-width: 979px) {
    #menu-icon,
    .sf-menu-phone {display: none !important}
}
@media only screen and (max-width: 979px) {
  .sf-menu,
  .sf-menu-phone {display: none}
  /* menu icon */
  #menu-icon {
    display: block;
    background: url(../images/menu-icon-bg.png) 95% 11px no-repeat;
    border: 1px solid #242424;
    border-bottom: none;
    font-family: 'Roboto Condensed',sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #242424;
    cursor: pointer;
    text-transform: none;
    padding: 13px 0 0 10px;
    height: 33px;
    position: relative;
    margin: 0 10px;
}

  #menu-icon.active {background-position: 95% -47px}

  .sf-menu-phone {
    background: #373737;
    position: relative;
    padding: 0;
    z-index: 2;
    margin: 2px 10px 0 10px;
}
  .sf-menu-phone li {position: relative; font-size: 14px; font-family: 'Roboto Condensed', sans-serif}
  .sf-menu-phone > li {}
  .sf-menu-phone > li > a {display: block}
  .sf-menu-phone li a {display: block; padding: 10px; border-bottom: 1px solid #4b4b4b; font-weight: normal;  color: #fff}
  .sf-menu-phone li a:hover {background: #242424}
  .sf-menu-phone li li {font-size: 13px; padding: 0}
  .sf-menu-phone li li.last {padding-bottom: 0 !important}
  .sf-menu-phone li strong { position: absolute; display: block; background: url(../images/toogle-button2.png) center -54px no-repeat; top: 4px; right: 0; height: 24px; width: 24px}
  .sf-menu-phone > li > strong {top: 8px; right: 10px}
  .sf-menu-phone li strong:hover {cursor: pointer}
  .sf-menu-phone li strong.opened {background-position: center 7px}

  /* dropdown */
  .sf-menu-phone ul {width: auto;  padding:0 20px 10px 20px;  display: none}
  .sf-menu-phone > li.active > a > span {color: inherit}
  .sf-menu-phone > li.active > a,
  .sf-menu-phone > li > a:hover {color: #fff}

  .sf-menu-phone li li.active > a,
  .sf-menu-phone li li a:hover {color: #fff}
}



@media only screen and (min-width: 978px) and (max-width: 1200px) {
  .sf-menu > li > a > span{font-size: 14px}
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

    #menu-icon,
    .sf-menu-phone {margin-left: 0; margin-right: 0}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #menu-icon {background-position: 96% 11px}
  #menu-icon.active {background-position: 96% -47px}
}

ul.level1 {display: none !important}
