<?php
$orders = $this->getOrderCollection();
?>
<div class="page-title">
    <h1><?php echo $this->__("Request New Return") ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php if ($orders->count()):?>
<form action="<?php echo $this->getStep1PostUrl()?>" method="GET" id="rma-form-validate" >
<div class='fieldset'>
    <h2 class="legend"><?php echo $this->__("Please, select an order") ?></h2>
    <ul class="form-list">
        <li class="wide">
            <label for="order_id" class="required"><em>*</em><?php echo $this->__("Order") ?></label>
            <div class="input-box">
                <select name="order_id" id='order_id' class="required-entry">
                    <option value=""><?php echo $this->__('-- Select an Order --')?></option>
                    <?php foreach ($this->getOrderCollection() as $order): ?>
                    <option value="<?php echo $order->getId()?>"><?php echo Mage::helper('rma')->getOrderLabel($order)?></option>
                    <?php endforeach;?>
                </select>
            </div>
        </li>
    </ul>
    <button type="submit" title="<?php echo $this->__("Next") ?>" class="button"><span><span><?php echo $this->__("Next") ?></span></span></button>
</div>
</form>
<script type="text/javascript">
//<![CDATA[
    var dataForm = new VarienForm('rma-form-validate', true);
//]]>
</script>
<?php else: ?>
<div class='fieldset'>
    <p><?php echo $this->__("You have no completed orders to request RMA or your orders were placed more than %s days ago.  Please, contact customer service.", $this->getReturnPeriod()) ?></p>
</div>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo Mage::getUrl('rma/rma')?>"><small>&laquo; </small><?php echo $this->__('Back to My Returns') ?></a></p>
</div>
<?php endif; ?>