<?php
$_item = $this->getItem();
$isVisibleProduct = $_item->getProduct()->isVisibleInSiteVisibility();
$canApplyMsrp = Mage::helper('catalog')->canApplyMsrp($_item->getProduct(), Mage_Catalog_Model_Product_Attribute_Source_Msrp_Type::TYPE_BEFORE_ORDER_CONFIRM);
?>
<tr class="item">
    <td>
    <div class="product-manufactrurer">
        <?php echo Mage::getModel('catalog/product')->load($_item->getProductId())->getAttributeText('manufacturer'); ?>
    </div>
    </td><td>
    <p class="product-name"><?php if ($this->hasProductUrl()): ?><a
            href="<?php echo $this->getProductUrl() ?>"><?php endif; ?><?php echo $this->htmlEscape($this->getProductName()) ?><?php if ($this->hasProductUrl()): ?></a><?php endif; ?>
    </p>
    </td><td>
    <div class="product-details">
        <strong><?php echo $this->getQty() ?><?php #echo " ", $this->__("items") ?></strong>

        <?php if ($_options = $this->getOptionList()): ?>
            <div class="truncated">
                <span class="details"><?php echo $this->__('Details') ?></span>

                <div class="truncated_full_value">
                    <dl class="item-options">
                        <?php foreach ($_options as $_option) : ?>
                            <dt><?php echo $this->htmlEscape($_option['label']) ?></dt>
                            <dd>
                                <?php if (is_array($_option['value'])): ?>
                                    <?php echo nl2br(implode("\n", $_option['value'])) ?>
                                <?php else: ?>
                                    <?php echo $_option['value'] ?>
                                <?php endif; ?>
                            </dd>
                        <?php endforeach; ?>
                    </dl>
                </div>
            </div>
        <?php endif; ?>
    </div>
    </td><td>
    <div class="product-control-buttons">
        <a href="<?php echo $this->getDeleteUrl() ?>" title="<?php echo $this->__('Remove This Item') ?>"
           onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the shopping cart?') ?>');"
           class="btn-remove"><?php echo $this->__('Remove This Item') ?></a>
    </div>
    </td>
</tr>
