body.df-theme-infortis-ultimo {
	.dropdown-toggle {
		.hide-below-1280
		,.hide-below-960{
			text-transform: lowercase;
		}
	}
	.df {
		@include df-checkout-ergonomic-form-list-inputs(360px);
	}
}