<?php
/**
 * Top menu for store
 *
 * @see Mage_Catalog_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 * @var Mage_Catalog_Block_Navigation $this
 */
?>
<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
<div class="nav-wrap">
    <div id="nav-container">
        <ul id="nav">
            <?php echo $_menu ?>
        </ul>
    </div>
</div>
<?php endif ?>
