.df {
	html, body, div, span, applet, object, iframe, .df
	h1, h2, h3, h4, h5, h6, p, blockquote, pre, .df
	a, abbr, acronym, address, big, cite, code, .df
	del, dfn, em, font, img, ins, kbd, q, s, samp, .df
	small, strike, strong, sub, sup, tt, var, .df
	b, u, i, center, .df
	dl, dt, dd, ol, ul, li, .df
	fieldset, form, label, legend, .df
	table, caption, tbody, tfoot, thead, tr, th, td, button, menu, header, article
	, footer, nav, section, aside, figure, dialog, mark, time, meter, video
	, audio, details, datagrid, command {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		line-height: normal;
		font-style: normal;
		font-weight: normal;
	}

	body {
		line-height: 1;
	}

	ol,
	ul,
	menu,
	li {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}

	/* remember to define focus styles! */
	:focus {
		outline: 0;
	}

	/* remember to highlight inserts somehow! */
	ins {
		text-decoration: none;
	}

	del {
		text-decoration: line-through;
	}

	/* tables still need 'cellspacing="0"' in the markup */
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	hr#system-readmore {
		display: none;
	}

	input.input-text, select, textarea {
		background: #fff;
		border: 1px solid #b6b6b6;
	}
	input.input-text,
	textarea {
		padding: 0;
	}
}