body.df-theme-magento-default {
	.df-cms-home-base {
		.col1-layout {
			border:0;
			.col-main {
				padding:0;
			}
			.category-view {
				margin:0 0 20px;
			}
			.page-title {
				margin:3px 0 0;
			}
			.products-grid {
				margin: 0;
				border: 1px solid #cbc0b2;
				border-top:0;
				padding-top:20px;
				padding-bottom:20px;
			}
			.products-list {
				margin: 0;
				border: 1px solid #cbc0b2;
				border-top:0; padding-top:20px;
			}
		}
		/*
			Нужны ли эти стили?
			Закомментировал 2013-02-28
			Если в течение 2 месяцев никто не будет жаловаться на их отсутствие — удалить

		.col2-set {
			.col-1 {
				width:705px;
			}
			.col-2 {
				width:244px;
				border:1px solid #d9d7ca;
				border-left:0;
				margin-left:-244px;
				img {
					display:block;
					margin:6px auto;
				}
			}
		}*/
		.main {
			.std {
				.messages {
					margin-top:0;
				}
			}
		}
		.top-callout {
			margin-bottom:6px;
		}
	}

	.cms-home {
		@extend .df-cms-home-base;
	}
	.cms-index-index {
		@extend .df-cms-home-base;
	}

	.cms-hp-touchsmart-iq506-has-arrived {
		.col-main {
			padding:0;
		}
		.main {
			margin-top:0;
		}
		.breadcrumbs {
			display:none;
		}
	}
}