@charset "IBM866";
.df div.df-frontend .df-catalog .df-category .df-navigation {
  margin: 0 0 4em 0; }
  .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories {
    display: block;
    width: 100%;
    overflow: hidden; }
    .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories li.df-break {
      clear: left; }
    .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories li.df-category {
      display: block;
      float: left;
      text-align: center;
      margin: 1em 0; }
      .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories li.df-category a.df-image-link {
        display: inline;
        text-decoration: none;
        margin: 0 auto; }
      .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories li.df-category a.df-text-link {
        display: block; }
        .df div.df-frontend .df-catalog .df-category .df-navigation ul.df-categories li.df-category a.df-text-link h2.df-caption {
          display: block;
          text-align: center;
          text-decoration: underline; }

.form-list ul li .df-phone-container {
  width: 100%;
  overflow: hidden; }
  .form-list ul li .df-phone-container .df-prefix {
    float: left;
    margin-top: 1.35em;
    width: 1.5em; }
  .form-list ul li .df-phone-container label {
    display: block;
    width: 100%;
    					/** В системном файле Magento присутствует правило
                            .form-list label {float: left;}
    					 */
    float: none; }
  .form-list ul li .df-phone-container input {
    letter-spacing: 0.03em; }
  .form-list ul li .df-phone-container .df-network-code-container {
    float: left; }
    .form-list ul li .df-phone-container .df-network-code-container label {
      width: 2.5em;
      margin: 0 0 0 0.5em; }
    .form-list ul li .df-phone-container .df-network-code-container .df-network-code-input-frame {
      width: 5em;
      overflow: hidden; }
      .form-list ul li .df-phone-container .df-network-code-container .df-network-code-input-frame .df-bracket {
        float: left; }
      .form-list ul li .df-phone-container .df-network-code-container .df-network-code-input-frame input.df-phone-network-code {
        float: left;
        width: 2.5em;
        margin: 0 0.25em;
        text-align: center; }
  .form-list ul li .df-phone-container .df-suffix-container {
    width: 8em;
    float: left; }
    .form-list ul li .df-phone-container .df-suffix-container label {
      width: 50%; }
    .form-list ul li .df-phone-container .df-suffix-container input.df-phone-suffix {
      width: 7em; }
.form-list ul li .df-field-comment {
  margin: 0.2em 0 0 0;
  font-size: 82.5%;
  line-height: 112.5%; }

.df .df-checkout-ergonomic {
  margin: 0;
  padding: 1.3em;
  border: 1px solid #BBAFA0;
  /**
    * Не помещаем внутрь .field,
    * потому что переключатель "доставить по этому адресу" и подпись "примечание к заказу"
    * почему-то не находятся внутри .field
    */
  /* Стили стандартной темы Magento */ }
  .df .df-checkout-ergonomic strong {
    font-weight: bold; }
    .df .df-checkout-ergonomic strong * {
      font-weight: bold; }
  .df .df-checkout-ergonomic .field label {
    text-transform: lowercase; }
  .df .df-checkout-ergonomic label {
    /* Всё равно подписи большего размера не влезут в форму */
    font-size: 12px; }
  .df .df-checkout-ergonomic h3, .df .df-checkout-ergonomic h4, .df .df-checkout-ergonomic h5, .df .df-checkout-ergonomic h6 {
    line-height: 1.35; }
  .df .df-checkout-ergonomic input, .df .df-checkout-ergonomic select, .df .df-checkout-ergonomic textarea, .df .df-checkout-ergonomic button {
    font-size: 12px;
    line-height: 15px; }
  .df .df-checkout-ergonomic input.input-text, .df .df-checkout-ergonomic textarea {
    padding: 2px; }
  .df .df-checkout-ergonomic h1 {
    font-size: 20px;
    line-height: 40px; }
  .df .df-checkout-ergonomic a.df-login {
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 6px 0 0 0; }
  .df .df-checkout-ergonomic .df-body {
    width: 100%;
    overflow: hidden;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #d8d2c7; }
    .df .df-checkout-ergonomic .df-body .df-body-left {
      width: 31.8%;
      float: left;
      padding: 0 1.5% 0 0; }
    .df .df-checkout-ergonomic .df-body .df-body-right {
      width: 66.6%;
      float: left; }
      .df .df-checkout-ergonomic .df-body .df-body-right .df-body-right-top {
        width: 100%;
        overflow: hidden; }
    .df .df-checkout-ergonomic .df-body h2 {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      color: #404040;
      background-position: top left;
      background-repeat: no-repeat;
      padding: 0 0 0 41px;
      height: 41px;
      line-height: 30px; }
    .df .df-checkout-ergonomic .df-body .df-h3 {
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      color: #404040;
      line-height: 25px; }
    .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields {
      width: 254px;
      overflow: hidden; }
      .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields div.field {
        width: 120px;
        float: left; }
        .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields div.field .input-box {
          width: 120px;
          clear: none; }
          .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields div.field .input-box input.input-text {
            width: 114px; }
          .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields div.field .input-box select {
            width: 114px; }
      .df .df-checkout-ergonomic .df-body .df-block .form-list li.fields div.df-field-last {
        width: 120px;
        float: right; }
    .df .df-checkout-ergonomic .df-body .df-block .form-list li.wide {
      width: 254px; }
      .df .df-checkout-ergonomic .df-body .df-block .form-list li.wide .input-box {
        width: 254px; }
        .df .df-checkout-ergonomic .df-body .df-block .form-list li.wide .input-box input.input-text {
          width: 248px; }
        .df .df-checkout-ergonomic .df-body .df-block .form-list li.wide .input-box select {
          width: 254px; }
    .df .df-checkout-ergonomic .df-body .df-block .form-list .df-field-street .df-street-line-1 {
      margin: 0 0 8px 0; }
    .df .df-checkout-ergonomic .df-body .df-block #billing-buttons-container
    , .df .df-checkout-ergonomic .df-body .df-block #shipping-buttons-container
    , .df .df-checkout-ergonomic .df-body .df-block #payment-buttons-container
    , .df .df-checkout-ergonomic .df-body .df-block #shipping-method-buttons-container {
      display: none; }
    .df .df-checkout-ergonomic .df-body .df-block .messages p {
      margin: 0.25em 0;
      line-height: 1; }
    .df .df-checkout-ergonomic .df-body .df-block .messages b, .df .df-checkout-ergonomic .df-body .df-block .messages strong {
      font-weight: bold; }
    .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-1
    , .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-2 {
      float: none;
      width: auto; }
    .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-1 h3, .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-1 p, .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-1 h4, .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-1 ul.ul {
      display: none; }
    .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-2 h4, .df .df-checkout-ergonomic .df-body .df-block-login .col2-set .col-2 p {
      display: none; }
    .df .df-checkout-ergonomic .df-body #co-shipping-form .control {
      display: none; }
    .df .df-checkout-ergonomic .df-body .df-column-1
    , .df .df-checkout-ergonomic .df-body .df-column-2 {
      background-image: url("../../images/checkout/ergonomic/separator/vertical.gif");
      background-position: top right;
      background-repeat: no-repeat; }
    .df .df-checkout-ergonomic .df-body .df-column-2
    , .df .df-checkout-ergonomic .df-body .df-column-3 {
      width: 45.5%;
      float: left; }
      .df .df-checkout-ergonomic .df-body .df-column-2
      .buttons-set, .df .df-checkout-ergonomic .df-body .df-column-3 .buttons-set {
        display: none; }
    .df .df-checkout-ergonomic .df-body .df-column-1 h2 {
      background-image: url("../../images/checkout/ergonomic/step/number/1.png");
      background-repeat: no-repeat; }
    .df .df-checkout-ergonomic .df-body .df-column-2 {
      padding: 0 3%; }
      .df .df-checkout-ergonomic .df-body .df-column-2 h2 {
        background-image: url("../../images/checkout/ergonomic/step/number/2.png");
        background-repeat: no-repeat; }
    .df .df-checkout-ergonomic .df-body .df-column-3 {
      padding: 0 0 0 3%; }
      .df .df-checkout-ergonomic .df-body .df-column-3 h2 {
        background-image: url("../../images/checkout/ergonomic/step/number/3.png");
        background-repeat: no-repeat; }
    .df .df-checkout-ergonomic .df-body .df-block-method-review {
      margin: 1em 0 0 0;
      /* Стили стандартной темы Magento */
      /* Data Table */
      /*.data-table tr.odd:hover,
      .data-table tr.even:hover { background:#ebf1f6; }*/
      /* Bundle products tables */ }
      .df .df-checkout-ergonomic .df-body .df-block-method-review h2 {
        background-image: url("../../images/checkout/ergonomic/step/number/4.png");
        background-repeat: no-repeat;
        margin-left: 3%; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table {
        width: 100%;
        border: 1px solid #bebcb7; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table .odd {
        background: #f8f7f5; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table .even {
        background: #eeeded; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table td.last,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table th.last {
        border-right: 0; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tr.last th,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tr.last td {
        border-bottom: 0 !important; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table th {
        padding: 3px 8px;
        font-weight: bold; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table td {
        padding: 3px 8px;
        line-height: 1.7; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th {
        font-weight: bold;
        border-right: 1px solid #c2d3e0;
        padding: 2px 8px;
        color: #0a263c;
        white-space: nowrap;
        vertical-align: middle; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th.wrap {
        white-space: normal; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th a,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th a:hover {
        color: #fff; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th {
        background: url(../../../../../default/default/images/bkg_th.gif) repeat-x 0 100% #d9e5ee; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table thead th .tax-flag {
        font-size: 11px;
        white-space: nowrap; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tfoot {
        border-bottom: 1px solid #d9dde3; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tfoot tr.first td {
        background: url(../../../../../default/default/images/bkg_tfoot.gif) 0 0 repeat-x; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tfoot tr {
        background-color: #dee5e8 !important; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tfoot td {
        padding-top: 1px;
        padding-bottom: 1px;
        border-bottom: 0;
        border-right: 1px solid #d9dde3; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tfoot strong {
        font-size: 16px; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody th,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody td {
        border-bottom: 1px solid #d9dde3;
        border-right: 1px solid #d9dde3; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.odd tr {
        background: #f8f7f5 !important; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.even tr {
        background: #f6f6f6 !important; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.odd tr td,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.even tr td {
        border-bottom: 0; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.odd tr.border td,
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody.even tr.border td {
        border-bottom: 1px solid #d9dde3; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody td .option-label {
        font-weight: bold;
        font-style: italic; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review .data-table tbody td .option-value {
        padding-left: 10px; }
      .df .df-checkout-ergonomic .df-body .df-block-method-review #checkout-agreements .df-order-comment-container {
        width: 75%; }
        .df .df-checkout-ergonomic .df-body .df-block-method-review #checkout-agreements .df-order-comment-container textarea {
          display: block;
          width: 100%; }
  .df .df-checkout-ergonomic .sp-methods {
    margin: 0 0 8px; }
    .df .df-checkout-ergonomic .sp-methods .error-msg {
      padding-left: 8px !important; }
    .df .df-checkout-ergonomic .sp-methods dt {
      margin: 13px 0 5px;
      font-weight: bold; }
    .df .df-checkout-ergonomic .sp-methods dd li {
      margin: 5px 0; }
    .df .df-checkout-ergonomic .sp-methods label {
      font-weight: bold;
      color: #666; }
    .df .df-checkout-ergonomic .sp-methods .price {
      font-weight: bold; }
    .df .df-checkout-ergonomic .sp-methods .form-list {
      padding-left: 20px; }
    .df .df-checkout-ergonomic .sp-methods .form-list li {
      margin: 0 0 8px; }
  .df .df-checkout-ergonomic #checkout-payment-method-load dt {
    margin: 5px 0 0 0; }
    .df .df-checkout-ergonomic #checkout-payment-method-load dt label {
      font-weight: bold;
      color: #666; }

/* Раньше эти правила применялись лишь для отдельных оформительских тем,
   но, похоже, разумно применить их сразу для всех тем.
*/
#df-login #login-form .form-list div.input-box input.input-text {
  width: 250px; }

.fancybox-inner .account-login {
  width: auto; }
  .fancybox-inner .account-login .registered-users {
    float: none;
    width: auto; }

#checkout-shipping-method-load
span.p, #checkout-payment-method-load span.p {
  display: block;
  margin: 0.5em 0; }

#checkout-review-table th {
  text-transform: lowercase; }

#checkout-step-login .col-2 h3 {
  display: none; }
#checkout-step-login .col-2 #login-form p {
  display: none; }

#df-login #login-form .content {
  min-height: 0; }

.df-cms-menu-wrapper {
  width: 100%; }
  .df-cms-menu-wrapper .cms-menu {
    margin: 0 0 14px 0;
    padding: 15px;
    border: 1px solid #d1d1d1;
    background: white url(../../images/cms/bkg_cms-menu.gif) 0 0 repeat-x;
    font-size: 12px;
    list-style-position: inside; }
  .df-cms-menu-wrapper .cms-menu li {
    color: #999;
    margin: 3px 0;
    padding-left: 15px;
    margin-bottom: 7px;
    list-style-position: inside; }
    .df-cms-menu-wrapper .cms-menu li strong {
      font-size: 13px;
      font-weight: bold;
      color: #333; }
    .df-cms-menu-wrapper .cms-menu li ul, .df-cms-menu-wrapper .cms-menu li ol {
      padding-left: 15px;
      margin-bottom: 7px;
      list-style-position: inside; }
  .df-cms-menu-wrapper .cms-menu li.parent > a
  ,
  .df-cms-menu-wrapper .cms-menu li.parent > strong {
    background: url(../../images/cms/bkg_cms-menu-arrow-down.gif) 100% 50% no-repeat;
    padding-right: 13px; }
  .df-cms-menu-wrapper ol.cms-menu .type-1 {
    list-style-type: decimal; }
    .df-cms-menu-wrapper ol.cms-menu .type-1 ol {
      list-style-type: decimal; }
  .df-cms-menu-wrapper ol.cms-menu .type-a {
    list-style-type: lower-alpha; }
    .df-cms-menu-wrapper ol.cms-menu .type-a ol {
      list-style-type: lower-alpha; }
  .df-cms-menu-wrapper ol.cms-menu .type-A {
    list-style-type: upper-alpha; }
    .df-cms-menu-wrapper ol.cms-menu .type-A ol {
      list-style-type: upper-alpha; }
  .df-cms-menu-wrapper ol.cms-menu .type-i {
    list-style-type: lower-roman; }
    .df-cms-menu-wrapper ol.cms-menu .type-i ol {
      list-style-type: lower-roman; }
  .df-cms-menu-wrapper ol.cms-menu .type-I {
    list-style-type: upper-roman; }
    .df-cms-menu-wrapper ol.cms-menu .type-I ol {
      list-style-type: upper-roman; }
  .df-cms-menu-wrapper ul.cms-menu .type-circle {
    list-style-type: circle; }
    .df-cms-menu-wrapper ul.cms-menu .type-circle ul {
      list-style-type: circle; }
  .df-cms-menu-wrapper ul.cms-menu .type-disc {
    list-style-type: disc; }
    .df-cms-menu-wrapper ul.cms-menu .type-disc ul {
      list-style-type: disc; }
  .df-cms-menu-wrapper ul.cms-menu .type-square {
    list-style-type: square; }
    .df-cms-menu-wrapper ul.cms-menu .type-square ul {
      list-style-type: square; }

#df-loading-mask {
  background: url(../../images/blank.gif) repeat;
  position: absolute;
  color: #d85909;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  opacity: 0.80;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* IE8 */
  z-index: 500; }
  #df-loading-mask .loader {
    position: fixed;
    top: 45%;
    left: 50%;
    width: 150px;
    margin-left: -105px;
    padding: 15px 30px;
    background: #fff4e9;
    border: 2px solid #f1af73;
    color: #d85909;
    font-weight: bold;
    text-align: center;
    z-index: 1000; }

#checkout-progress-state {
  text-transform: lowercase; }

.cms-home .std .category-products ul {
  padding-left: 0; }
  .cms-home .std .category-products ul li {
    list-style-type: none; }
.cms-home .std .category-products .products-grid {
  margin-left: 0; }

.customer-account-index .welcome-msg {
  display: none; }

.data-table th {
  text-transform: lowercase; }

.form-list label {
  text-transform: lowercase; }

.newsletter-manage-index .my-account h2.legend {
  display: none; }

.header-container .quick-access .links a {
  text-transform: lowercase; }
.header-container .quick-access .links a.rm-preserve-case {
  text-transform: none; }

.storecredit .account-balance {
  margin: 0 0 20px;
  padding: 0 0 10px;
  font-size: 12px;
  background: url("../../images/customer-credit/background.gif") repeat-x 0 100%; }
  .storecredit .account-balance .price {
    font-weight: bold; }

#invitationForm .buttons-set {
  margin-top: 2em; }

.df .df-checkout-ergonomic .df-payment-options-container h4 {
  line-height: 1.2;
  color: #2f2f2f;
  margin: 0.5em 0; }
.df .df-payment-method .df-submethod {
  margin-left: 1em; }

.df-payment-options-container h4 h4 {
  line-height: 1.2;
  color: #2f2f2f;
  margin: 0.5em 0; }

body.df {
  color: black;
  text-align: left;
  font-family: Times New Roman;
  font-size: 14px;
  line-height: 18px;
  background: none; }
  body.df div.df-pd4 .df-form-container {
    width: 780px;
    margin: 40px auto 0 auto; }
    body.df div.df-pd4 .df-form-container .df-form {
      width: 100%;
      height: 608px;
      border: 2px solid black; }
      body.df div.df-pd4 .df-form-container .df-form .df-duplicate {
        width: 100%;
        overflow: hidden; }
        body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column {
          height: 100%; }
        body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-left {
          float: left;
          width: 218px;
          border-right: 2px solid black; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-left p {
            font-size: 8pt;
            font-weight: bold;
            text-align: center; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-left p.df-text-notification {
            font-family: Arial;
            margin: 40px 0 200px 0; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-left p.df-text-receipt {
            font-family: Arial;
            margin: 250px 0 18px 0; }
        body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right {
          float: left;
          width: 560px; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-form-name {
            font-size: 8pt;
            font-weight: bold;
            font-style: italic;
            text-align: right;
            margin-right: 20px; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row {
            padding: 2px 0 0 0; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-label-with-line {
            border-top: 1px solid black;
            font-size: 7pt; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-recipient-name {
            margin: -6px 0 0 0;
            text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-recipient-name .df-label-with-line {
              text-align: center; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-2 {
            width: 100%;
            overflow: hidden;
            text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-2 .df-recipient-tax-number {
              float: left;
              width: 208px; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-2 .df-recipient-bank-account-number {
              float: right;
              width: 314px; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-3 {
            width: 100%;
            overflow: hidden;
            text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-3 .df-recipient-bank-name {
              float: left;
              width: 316px;
              font-size: 10pt;
              margin: 2px 0 0 0; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-3 .df-recipient-bank-id {
              float: right;
              width: 210px;
              overflow: hidden; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-3 .df-recipient-bank-id .df-input {
                width: 172px;
                float: right;
                border-bottom: 1px solid black; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-3 .df-recipient-bank-id .df-label {
                float: left;
                font-size: 8pt;
                line-height: 18px; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-recipient-bank-loro {
            width: 100%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-recipient-bank-loro .df-input {
              width: 308px;
              float: right;
              border-bottom: 1px solid black;
              text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-recipient-bank-loro .df-label {
              float: left;
              font-size: 8pt;
              line-height: 18px;
              margin: 0 0 0 1em; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-5 {
            width: 100%;
            overflow: hidden;
            text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-5 .df-payment-purpose {
              float: left;
              width: 318px;
              font-size: 10pt;
              margin: 2px 0 0 0; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-5 .df-payer-bank-account-number {
              float: right;
              width: 209px;
              line-height: 18px;
              font-size: 10pt;
              margin: 2px 0 0 0; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-name {
            width: 100%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-name .df-input {
              width: 408px;
              float: right;
              border-bottom: 1px solid black;
              text-align: center; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-name .df-label {
              float: left;
              font-size: 8pt;
              line-height: 18px;
              margin: 0 0 0 1em; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-address {
            width: 100%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-address .df-input {
              width: 408px;
              float: right;
              border-bottom: 1px solid black;
              text-align: center;
              font-size: 9pt; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-payer-address .df-label {
              float: left;
              font-size: 8pt;
              line-height: 18px;
              margin: 0 0 0 1em; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money {
            display: block;
            float: left;
            width: 49%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money .df-main-label {
              float: left;
              font-size: 9pt;
              line-height: 18px;
              margin: 0 0 0 1em; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money .df-numeric-container {
              float: left;
              overflow: hidden; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money .df-numeric-container .df-input {
                float: left;
                text-align: center;
                border-bottom: 1px solid black;
                margin: 0 3px; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money .df-numeric-container .df-label {
                float: left;
                font-size: 9pt;
                line-height: 18px; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-money .df-fractional-part .df-input {
              width: 1.5em; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-8 {
            width: 100%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-8 .df-payment-net-amount .df-integer-part .df-input {
              width: 6em; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-8 .df-payment-fee .df-integer-part .df-input {
              width: 3em; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 {
            width: 100%;
            overflow: hidden; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-payment-total-amount .df-integer-part .df-input {
              width: 6em; }
            body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date {
              width: 49%;
              overflow: hidden;
              text-align: center; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-day-container {
                float: left;
                width: 2.7em;
                overflow: hidden; }
                body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-day-container .df-quote {
                  float: left; }
                body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-day-container .df-day {
                  float: left;
                  width: 1.8em;
                  border-bottom: 1px solid black; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-month {
                float: left;
                width: 8em;
                border-bottom: 1px solid black;
                margin: 0 4px 0 0; }
              body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-year-container {
                float: left;
                width: 4em;
                overflow: hidden; }
                body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-year-container .df-year {
                  float: left;
                  border-bottom: 1px solid black; }
                body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-9 .df-date .df-year-container .df-label {
                  float: left; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-10 .df-main-text {
            font-size: 8pt;
            margin: 0 0 0 12px; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate .df-column-right .df-row-10 .df-signature-label {
            float: right;
            margin: -14px 40% 0 0;
            font-weight: bold;
            font-size: 8pt; }
      body.df div.df-pd4 .df-form-container .df-form .df-duplicate-top {
        height: 281px;
        border-bottom: 2px solid black; }
      body.df div.df-pd4 .df-form-container .df-form .df-duplicate-bottom {
        height: 325px; }
        body.df div.df-pd4 .df-form-container .df-form .df-duplicate-bottom .df-rows {
          margin: 18px 0 0 0; }
          body.df div.df-pd4 .df-form-container .df-form .df-duplicate-bottom .df-rows .df-row {
            padding: 3px 0; }
    body.df div.df-pd4 .df-form-container .df-cutting-line {
      font-size: 12pt;
      padding: 0 0 0 20px;
      background: url("../../images/pd4/scissors.png") left center no-repeat; }

.df div.df-frontend .df-promo-gift .df-gift-chooser .df-center {
  font-family: Arial,Helvetica,sans-serif;
  border: 1px solid #cec3b6;
  background: #fafaec;
  padding: 12px 15px 0 15px;
  margin: 0 0 25px 0; }
  .df div.df-frontend .df-promo-gift .df-gift-chooser .df-center h2 {
    color: #e26703;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 5px 0; }
  .df div.df-frontend .df-promo-gift .df-gift-chooser .df-center ul.df-promo-actions li.df-promo-action ul.df-product-list {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: 0.5em 0; }
    .df div.df-frontend .df-promo-gift .df-gift-chooser .df-center ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product {
      display: block;
      float: left;
      text-align: center;
      margin: 0.5em 1em 0.5em 0;
      width: 150px;
      border: 1px solid #d0cbc1;
      padding: 1em; }
      .df div.df-frontend .df-promo-gift .df-gift-chooser .df-center ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product .df-details .df-name {
        margin: 0.25em 0 0.5em 0;
        line-height: 17px;
        height: 51px; }
        .df div.df-frontend .df-promo-gift .df-gift-chooser .df-center ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product .df-details .df-name a {
          font-weight: bold; }

.df div.df-frontend .df-promo-gift .df-gift-chooser .df-side {
  background: #fafaec;
  border: 1px solid #cec3b6;
  padding: 10px 0;
  margin: 0 0 14px 0; }
  .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side h2 {
    color: #e26703;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px 5px 10px; }
  .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action .df-description {
    margin: 0 10px; }
  .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list {
    display: block;
    margin: 0.5em 0; }
    .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product {
      display: block;
      width: 100%;
      overflow: hidden;
      padding: 12px 0; }
      .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product .product-image {
        display: block;
        float: left;
        border: 1px solid #d0cbc1;
        margin: 0 0 0 10px; }
      .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product .df-details {
        display: block;
        margin: 0 10px 0 60px;
        padding: 0 0 0 12px; }
        .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-product .df-details .df-name {
          margin: 0.25em 0 0.5em 0; }
    .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-odd {
      background: #FAFAFA; }
    .df div.df-frontend .df-promo-gift .df-gift-chooser .df-side ul.df-promo-actions li.df-promo-action ul.df-product-list li.df-last {
      padding-bottom: 0; }

/**
 * Строки заказа с подарочными товарами
 */
#shopping-cart-table tr.df-free-quote-item {
  background: #fafaec; }
  #shopping-cart-table tr.df-free-quote-item .price {
    text-decoration: line-through; }
  #shopping-cart-table tr.df-free-quote-item .df-gift-label {
    color: #e26703;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold; }

.df-gift-product .product-essential {
  background: #fafaec; }
  .df-gift-product .product-essential .price {
    text-decoration: line-through; }
  .df-gift-product .product-essential .df-gift-label {
    color: #e26703;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold; }

.df-reward-total .df-discount {
  width: 100%;
  overflow: hidden; }
  .df-reward-total .df-discount .btn-remove {
    float: left; }
  .df-reward-total .df-discount .df-discount-value {
    float: right; }

.rewards {
  margin: -10px 0 20px; }

.reward-message
, .df .reward-message {
  display: block;
  margin: 5px -15px 5px -15px;
  background: #d55721 url("../../images/reward/background/0.gif") 5px 3px no-repeat;
  padding: 3px 5px 3px 32px;
  font: normal 12px/20px Arial, Helvetica, sans-serif;
  color: #fff; }
  .reward-message
  p, .df .reward-message p {
    margin: 0 !important; }
  .reward-message
  .limit, .df .reward-message .limit {
    display: block;
    font-size: 11px;
    line-height: 1.15; }
  .reward-message
  a, .df .reward-message a {
    color: #ffe6dc;
    text-decoration: underline; }
  .reward-message
  a:hover, .df .reward-message a:hover {
    color: #ffe6dc;
    text-decoration: none; }
  .reward-message
  .price, .df .reward-message .price {
    font-size: 1em;
    font-weight: normal; }

.reward-review,
.reward-tag,
.reward-checkout {
  margin: 0; }

.my-rewards .box {
  margin: 0 0 30px; }
.my-rewards .info-box .box-title {
  margin: 10px 10px; }
.my-rewards .info-box .box-content {
  padding: 0 10px 10px; }
.my-rewards p.error {
  display: inline;
  color: #d91a00; }
.my-rewards dl {
  font-size: 12px; }
  .my-rewards dl dt {
    font-weight: bold;
    font-size: 13px;
    margin-top: 10px; }
    .my-rewards dl dt span {
      color: #d12c01; }
  .my-rewards dl dd.last {
    margin: 7px 0 0; }
.my-rewards .form-list label {
  width: auto; }
.my-rewards .form-list .control .input-box {
  position: static;
  margin: 0 5px 0 0; }
.my-rewards .data-table small {
  display: block;
  font-size: 1em;
  color: #808080; }

#reward_placer {
  margin-bottom: 10px; }

body.df-theme-argento .quick-links ul.links {
  text-transform: lowercase; }
body.df-theme-argento .header-container .mini-search a.chzn-default {
  font-size: 12px;
  font-family: Arial,Helvetica,sans-serif;
  padding-left: 10px; }
body.df-theme-argento .header-cart .summary {
  width: 40px; }
body.df-theme-argento .fancybox-inner .account-login label {
  font-size: 12px; }

body.df-theme-8theme-blanco .df-checkout-ergonomic-page .col-right {
  width: 0; }
body.df-theme-8theme-blanco .df-checkout-ergonomic-page .col-main {
  width: 940px; }
body.df-theme-8theme-blanco .footer .f-left {
  width: 650px; }
body.df-theme-8theme-blanco .header .header-left {
  width: 260px; }
body.df-theme-8theme-blanco .header .header-right {
  width: 415px; }
body.df-theme-8theme-blanco .block .actions a {
  float: left;
  width: 50%;
  text-align: left; }

body.df-theme-8theme-gadget .cart .totals tfoot th strong {
  font-size: 16px; }
body.df-theme-8theme-gadget .cart .totals tfoot td strong {
  font-size: 16px; }
body.df-theme-8theme-gadget h2.supertab {
  text-transform: lowercase; }
body.df-theme-8theme-gadget .product-view .add-to-links {
  backgrround: yellow;
  margin-right: 30px; }
body.df-theme-8theme-gadget .product-view ul.product-tabs li a {
  text-transform: lowercase; }
body.df-theme-8theme-gadget .product-view .product-tabs-content a {
  color: #569cbd;
  text-decoration: underline; }
body.df-theme-8theme-gadget .product-view .shop-container h2.supertab {
  display: none; }

body.df-theme-8theme-mercado .header .header-center {
  margin-left: 12px;
  width: 268px;
  background: center; }
body.df-theme-8theme-mercado .header .block-cart-header .button {
  padding-right: 0;
  padding-left: 0; }
body.df-theme-8theme-mercado .header .block-cart-header .btn-view {
  width: 129px; }
body.df-theme-8theme-mercado .header .block-cart-header .btn-checkout {
  width: 164px; }

body.df-theme-cattheme-se105 .cart .cart-collaterals .col2-set {
  width: 670px; }
body.df-theme-cattheme-se105 .header .topbar #blocklogin {
  width: 350px; }
  body.df-theme-cattheme-se105 .header .topbar #blocklogin .top-links {
    width: 100%; }
body.df-theme-cattheme-se105 .header .search_term .no-item {
  display: none; }

body.df-theme-em-marketplace .category-products .toolbar .toolbar-dropdown {
  width: 120px; }
  body.df-theme-em-marketplace .category-products .toolbar .toolbar-dropdown ul {
    width: 118px; }
body.df-theme-em-marketplace .category-products .toolbar .sort-by .toolbar-dropdown {
  width: 145px;
  text-transform: lowercase; }
  body.df-theme-em-marketplace .category-products .toolbar .sort-by .toolbar-dropdown * {
    text-transform: lowercase; }
  body.df-theme-em-marketplace .category-products .toolbar .sort-by .toolbar-dropdown ul {
    width: 143px; }
body.df-theme-em-marketplace .sidebar .block-title {
  text-transform: none; }
body.df-theme-em-marketplace #opc-shipping_method .sp-methods dt {
  float: none; }

body.df-theme-infortis-ultimo .dropdown-toggle .hide-below-1280
, body.df-theme-infortis-ultimo .dropdown-toggle .hide-below-960 {
  text-transform: lowercase; }
body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.wide {
  width: auto; }
  body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.wide .field {
    width: 360px; }
    body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.wide .field .input-box {
      width: 360px; }
      body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.wide .field .input-box input.input-text {
        width: 354px; }
body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields {
  width: 360px; }
  body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields div.field {
    width: 180px; }
    body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box {
      width: 180px; }
      body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box input.input-text, body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box select {
        width: 174px; }
  body.df-theme-infortis-ultimo .df .df-checkout-ergonomic .df-body .df-block li.fields div.df-field .last {
    width: 180px; }

body.df-theme-koolthememaster-caramel #nav .brands a {
  background-position: -335px -74px; }
body.df-theme-koolthememaster-caramel #minicart .empty {
  display: none; }
body.df-theme-koolthememaster-caramel .quickllook {
  text-transform: lowercase; }
body.df-theme-koolthememaster-caramel .add-to-box {
  padding-left: 0; }
body.df-theme-koolthememaster-caramel .quick_cart .add {
  left: 4em; }
body.df-theme-koolthememaster-caramel .quick_cart .dec {
  left: 0; }
body.df-theme-koolthememaster-caramel .product-view .add {
  left: 56px; }
body.df-theme-koolthememaster-caramel .product-view .dec {
  left: 0; }
body.df-theme-koolthememaster-caramel .product-view a.prod-prev
, body.df-theme-koolthememaster-caramel .product-view a.prod-next {
  font-size: 13px;
  padding-bottom: 9px;
  padding-top: 3px; }
body.df-theme-koolthememaster-caramel .add-to-cart .qty {
  margin-left: 9px; }
body.df-theme-koolthememaster-caramel .add-to-cart #reset_btn {
  display: none; }
body.df-theme-koolthememaster-caramel .price {
  text-transform: lowercase; }
body.df-theme-koolthememaster-caramel .actions .cat_loader .cart_msg {
  width: 275px;
  padding-top: 15px;
  height: 27px; }
  body.df-theme-koolthememaster-caramel .actions .cat_loader .cart_msg img {
    margin-top: 0; }
body.df-theme-koolthememaster-caramel .pro-right {
  width: 170px; }
  body.df-theme-koolthememaster-caramel .pro-right .addthis {
    width: 155px; }

body.df-theme-magento-default .df-cms-home-base, body.df-theme-magento-default .cms-home, body.df-theme-magento-default .cms-index-index {
  		/*
  			Нужны ли эти стили?
  			Закомментировал 2013-02-28
  			Если в течение 2 месяцев никто не будет жаловаться на их отсутствие — удалить
  
  		.col2-set {
  			.col-1 {
  				width:705px;
  			}
  			.col-2 {
  				width:244px;
  				border:1px solid #d9d7ca;
  				border-left:0;
  				margin-left:-244px;
  				img {
  					display:block;
  					margin:6px auto;
  				}
  			}
  		}*/ }
  body.df-theme-magento-default .df-cms-home-base .col1-layout, body.df-theme-magento-default .cms-home .col1-layout, body.df-theme-magento-default .cms-index-index .col1-layout {
    border: 0; }
    body.df-theme-magento-default .df-cms-home-base .col1-layout .col-main, body.df-theme-magento-default .cms-home .col1-layout .col-main, body.df-theme-magento-default .cms-index-index .col1-layout .col-main {
      padding: 0; }
    body.df-theme-magento-default .df-cms-home-base .col1-layout .category-view, body.df-theme-magento-default .cms-home .col1-layout .category-view, body.df-theme-magento-default .cms-index-index .col1-layout .category-view {
      margin: 0 0 20px; }
    body.df-theme-magento-default .df-cms-home-base .col1-layout .page-title, body.df-theme-magento-default .cms-home .col1-layout .page-title, body.df-theme-magento-default .cms-index-index .col1-layout .page-title {
      margin: 3px 0 0; }
    body.df-theme-magento-default .df-cms-home-base .col1-layout .products-grid, body.df-theme-magento-default .cms-home .col1-layout .products-grid, body.df-theme-magento-default .cms-index-index .col1-layout .products-grid {
      margin: 0;
      border: 1px solid #cbc0b2;
      border-top: 0;
      padding-top: 20px;
      padding-bottom: 20px; }
    body.df-theme-magento-default .df-cms-home-base .col1-layout .products-list, body.df-theme-magento-default .cms-home .col1-layout .products-list, body.df-theme-magento-default .cms-index-index .col1-layout .products-list {
      margin: 0;
      border: 1px solid #cbc0b2;
      border-top: 0;
      padding-top: 20px; }
  body.df-theme-magento-default .df-cms-home-base .main .std .messages, body.df-theme-magento-default .cms-home .main .std .messages, body.df-theme-magento-default .cms-index-index .main .std .messages {
    margin-top: 0; }
  body.df-theme-magento-default .df-cms-home-base .top-callout, body.df-theme-magento-default .cms-home .top-callout, body.df-theme-magento-default .cms-index-index .top-callout {
    margin-bottom: 6px; }
body.df-theme-magento-default .cms-hp-touchsmart-iq506-has-arrived .col-main {
  padding: 0; }
body.df-theme-magento-default .cms-hp-touchsmart-iq506-has-arrived .main {
  margin-top: 0; }
body.df-theme-magento-default .cms-hp-touchsmart-iq506-has-arrived .breadcrumbs {
  display: none; }

body.df-theme-magento-modern .df-checkout-ergonomic .df-block-method-payment .sp-methods dt {
  margin-top: 5px;
  margin-bottom: 5px; }
body.df-theme-magento-modern .df-checkout-ergonomic #opc-review #checkout-agreements .buttons-set {
  padding-bottom: 0; }

body.df-theme-templatemela-fancyshop button.button span {
  text-transform: lowercase; }

body.df-theme-templatemonster-34402 .df-checkout-ergonomic-page .col-main {
  float: none;
  width: auto;
  padding-top: 0; }

body.df-theme-templatemonster-37419 .df-checkout-ergonomic-page .col-main {
  float: none;
  width: auto; }
body.df-theme-templatemonster-37419 #checkout-review-table.data-table td {
  text-align: left; }

body.df-theme-templatemonster-41220 .footer .block-subscribe #newsletter {
  text-transform: none; }
body.df-theme-templatemonster-41220 .df .df-checkout-ergonomic button {
  line-height: auto;
  font-size: auto; }
body.df-theme-templatemonster-41220 button.btn-checkout span span {
  padding-top: 5px; }

body.df-theme-templatemonster-43442 .account-login .registered-users {
  width: 260px;
  min-height: 0;
  background-position: -200px bottom; }
  body.df-theme-templatemonster-43442 .account-login .registered-users .form-list input.input-text {
    width: 250px; }
body.df-theme-templatemonster-43442 .col1-layout .col-main {
  padding-right: 20px;
  padding-left: 20px; }
  body.df-theme-templatemonster-43442 .col1-layout .col-main .products-grid {
    border: none; }
  body.df-theme-templatemonster-43442 .col1-layout .col-main .page-title {
    margin-top: 0;
    margin-bottom: 35px; }
body.df-theme-templatemonster-43442 .df-checkout-ergonomic #opc-review button span span {
  margin-top: 5px; }
body.df-theme-templatemonster-43442 .products-grid .grid-inner .fancybox {
  text-transform: lowercase; }
body.df-theme-templatemonster-43442 .products-list .list-inner .fancybox {
  text-transform: lowercase; }
body.df-theme-templatemonster-43442 .sort-by .jqTransformSelectWrapper {
  width: 150px !important;
  text-transform: lowercase; }

body.df-theme-templatemonster-45035 .block-cart-header h3 {
  margin-top: 1px; }
body.df-theme-templatemonster-45035 .block-cart-header .cart-content {
  min-width: 290px; }
  body.df-theme-templatemonster-45035 .block-cart-header .cart-content .actions {
    padding-left: 10px;
    padding-right: 10px; }
    body.df-theme-templatemonster-45035 .block-cart-header .cart-content .actions > button.button {
      margin-right: 20px; }
    body.df-theme-templatemonster-45035 .block-cart-header .cart-content .actions button.button + button.button {
      margin-right: 0px; }
body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.wide {
  width: auto; }
  body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.wide .field {
    width: 280px; }
    body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.wide .field .input-box {
      width: 280px; }
      body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.wide .field .input-box input.input-text {
        width: 274px; }
body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields {
  width: 280px; }
  body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields div.field {
    width: 140px; }
    body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box {
      width: 140px; }
      body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box input.input-text, body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields div.field .input-box select {
        width: 134px; }
  body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .df-body .df-block li.fields div.df-field .last {
    width: 140px; }
body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic {
  width: 1000px;
  margin: 0 auto; }
  body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic button.button > span {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: auto;
    height: auto; }
  body.df-theme-templatemonster-45035 .df .df-checkout-ergonomic .sp-methods dd {
    margin-bottom: 10px;
    margin-top: 4px; }

body.df-theme-tt-theme069 button.button, body.df-theme-tt-theme069 a.button {
  padding-left: 8px;
  padding-right: 8px;
  text-transform: lowercase; }
body.df-theme-tt-theme069 .add-to-box .add-to-cart {
  width: 250px; }
body.df-theme-tt-theme069 .form-list li.wide .field {
  width: 80%; }

#vk_like {
  margin-top: 1em; }

#vk_comments {
  margin-top: 1em; }
