<?php
/**
 * @see Mage_Reports_Block_Product_Viewed
 */
?>
 <div class="product_viewed_bottom">
<?php $_products = $this->getRecentlyViewedProducts(); ?>
<?php if (count($_products)>3): ?>
<h2 class="subtitle"><?php echo $this->__('Recently Viewed') ?></h2>
<?php $_columnCount = 6; ?>
    <?php $i=0; foreach ($_products as $_product): ?>
        <?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid">
        <?php endif; ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                <a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(175, 305) ?>" width="175" height="305" alt="<?php echo $this->stripTags($_product->getName(), null, true) ?>" /></a>
                <div class="product-manufactrurer">
					<?php echo Mage::getModel('catalog/product')->load($_product->getProductId())->getAttributeText('manufacturer'); ?>
				</div>
				<h3 class="product-name"><a href="<?php echo $this->getProductUrl($_product) ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_product, $_product->getName() , 'name') ?></a></h3>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php echo $this->getPriceHtml($_product, true, false) ?>
				<div class="actions">
                            <ul class="add-to-links">
                                <li>
                                    <?php if($_product->isSaleable()): ?>
                                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                                    <?php else: ?>
                                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                    <?php endif; ?>
                                </li>
                                <?php if ($this->helper('wishlist')->isAllow()) : ?>
                                    <li class="separator"></li>
                                    <li><a title="<?php echo $this->__('Add to Wishlist') ?>" href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" rel="tooltip" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></li>
                                <?php endif; ?>
                            </ul>
                        </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==count($_products)): ?>
        </ul>
        <?php endif; ?>
    <?php endforeach; ?>
<?php endif; ?>
 </div>
