/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox_minimal,
.iradio_minimal {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
	width: 15px;
	height: 14px;
	margin-top: -3px;
    background: url(minimal.png) no-repeat;
    border: none;
    cursor: pointer;
	background-size: 170px 16px;
}

.icheckbox_minimal {
    background-position: 0 0;
}
    .icheckbox_minimal.hover {
        background-position: -17px 0;
    }
    .icheckbox_minimal.checked {
        background-position: -34px 0;
    }
    .icheckbox_minimal.disabled {
        background-position: -51px 0;
        cursor: default;
    }
    .icheckbox_minimal.checked.disabled {
        background-position: -68px 0;
    }

.iradio_minimal {
    background-position: -85px 0;
}
    .iradio_minimal.hover {
        background-position: -102px 0;
    }
    .iradio_minimal.checked {
        background-position: -119px 0;
    }
    .iradio_minimal.disabled {
        background-position: -136px 0;
        cursor: default;
    }
    .iradio_minimal.checked.disabled {
        background-position: -153px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_minimal,
    .iradio_minimal {
        background-image: url(minimal@2x.png);
        -webkit-background-size: 170px 16px;
        background-size: 170px 16px;
    }
}