#config_edit_form fieldset#df_1c_general .form-list tr#row_df_1c_general_non_standard_currency_codes td.value .grid select.standard_code {
  width: 15em; }
#config_edit_form fieldset#df_1c_product__prices .form-list tr#row_df_1c_product__prices_map td.value .grid select.customer_group {
  width: 10em; }

#product_attribute_tabs_main_content select {
  text-transform: lowercase; }
#product_attribute_tabs_main_content .form-list td label {
  width: 266px; }

#product_attribute_tabs_labels_content .dynamic-grid th {
  width: 180px; }
#product_attribute_tabs_labels_content .dynamic-grid td input {
  width: 174px; }

#catalog-wysiwyg-editor_content label {
  display: none; }

.df .df-chronopay-order-status h3 {
  font-weight: bold;
  margin: 1em 0 0.5em 0; }

.df .df-chronopay-order-status ul {
  display: block;
  border: 1px solid #D6D6D6;
  padding: 0;
  border-bottom: 0;
  width: 97%; }

.note-list .df .df-chronopay-order-status li {
  display: block;
  width: 96%;
  overflow: hidden;
  margin: 0 !important;
  padding: 0.5em 2%;
  border-bottom: 1px solid #D6D6D6;
  /*border-right: 1px solid #D6D6D6;*/ }

.note-list .df .df-chronopay-order-status li.df-odd {
  background-color: #fafafa; }

.note-list .df .df-chronopay-order-status li.df-even {
  background-color: white; }

.df .df-chronopay-order-status li .df-cell {
  display: block;
  float: left; }

.df .df-chronopay-order-status li .df-key {
  width: 40%; }

.df .df-chronopay-order-status li .df-value {
  width: 40%;
  margin-left: 5%; }

/* CMS
*******************************************************************************/
.adminhtml-cms-page-revision-preview {
  background: #fff; }

.toolbar {
  height: 40px;
  padding: 14px 15px 0;
  background: url(../../images/cms/bkg_toolbar.gif) 0 0 repeat-x;
  border-bottom: 15px solid #fff;
  color: #fff; }

.toolbar label {
  color: #fff;
  vertical-align: middle; }

.toolbar select {
  margin-right: 7px; }

.toolbar select,
.toolbar button {
  vertical-align: middle; }

/*table.mceLayout { width:100% !important; }*/
.cms-revision-preview {
  height: 100%; }

.cms-revision-preview iframe {
  width: 100%;
  height: 91%;
  border: 0; }

.cms-revision-info {
  border: 1px solid #d6d6d6;
  padding: 15px;
  background: #fafafa;
  margin: 0 0 15px; }

.cms-revision-info table {
  width: 100%; }

.cms-revision-info table th,
.cms-revision-info table td {
  padding-top: 2px;
  padding-bottom: 2px;
  vertical-align: middle; }

.cms-revision-info table th {
  font-weight: bold;
  padding-right: 30px;
  white-space: nowrap; }

/* CMS Hierarchy */
.cms-tree {
  width: 100%;
  /*height:300px;*/
  overflow: auto; }

.cms-tree .cms_node_root.x-tree-node-expanded .x-tree-node-icon,
.cms-tree .cms_node_root.x-tree-node-collapsed .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_node_root.gif); }

.cms-tree .cms_node .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_node2.gif) !important; }

.cms-tree .cms_node.x-tree-node-leaf .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_page2.gif); }

.cms-tree .cms_page.x-tree-node-expanded .x-tree-node-icon,
.cms-tree .cms_page.x-tree-node-collapsed .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_page.gif); }

.cms-tree .x-tree-node-leaf .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_page2.gif); }

.cms-tree .disallowed.x-tree-node-leaf .x-tree-node-icon {
  background-image: url(../../images/cms/tree_icons/cms_page-disabled.gif); }

.cms-tree .x-tree-node .disallowed a span,
.cms-tree .x-dd-drag-ghost .disallowed a span {
  color: #aaa; }

.cms-tree .cms-current a span {
  background-color: #f5d6c7;
  color: #000; }

.cms-tree .modified a {
  background-image: url(../../images/cms/fam_bullet_disk.gif);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  padding-right: 20px; }

.cms-hierarchy .switcher {
  margin-bottom: 20px; }

.cms-hierarchy .switcher select {
  width: auto !important; }

.cms-hierarchy .col-left {
  padding: 0 10px 0;
  border-right: 1px solid #d6d6d6; }

.cms-hierarchy .col-right {
  padding: 0 10px 20px; }

.cms-hierarchy .col-right .form-list td.label {
  width: 200px; }

.cms-hierarchy .col-right .form-list td.label label {
  width: 185px; }

/* CMS Widgets Instance */
.options-box .option-box {
  border: 1px solid #cddddd;
  padding: 1em;
  background: #e7efef;
  margin: 1.5em 0; }

.options-box .option-title {
  padding: 0 0 10px;
  border-bottom: 1px solid #cddddd; }

.options-box .option-title button {
  float: right; }

.options-box .option-title label {
  font-weight: bold;
  line-height: 21px;
  padding-right: 1em;
  float: left; }

.options-box .option-title select {
  float: left;
  width: 260px;
  vertical-align: middle; }

.options-box .option-header {
  margin: 5px 0 0;
  width: 100%;
  border: 0;
  background: #e7efef;
  border-bottom: 1em solid #e7efef; }

.options-box .option-header .input-text,
.options-box .option-header select {
  width: 95%; }

.options-box .option-header th {
  padding: 2px; }

.options-box .option-header td {
  padding: 5px 2px; }

.options-box .option-header .tree {
  margin: 5px 0 0; }

/***
Spectrum Colorpicker v1.0.9
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/
.sp-container {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  z-index: 2147483647;
  overflow: hidden; }

.sp-container.sp-flat {
  position: relative; }

/* http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.sp-top {
  position: relative;
  width: 100%;
  display: inline-block; }

.sp-top-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.sp-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 20%; }

.sp-hue {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 84%;
  height: 100%; }

.sp-fill {
  padding-top: 80%; }

.sp-sat, .sp-val {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.sp-alpha-enabled .sp-top {
  margin-bottom: 18px; }

.sp-alpha-enabled .sp-alpha {
  display: block; }

.sp-alpha-handle {
  position: absolute;
  top: -4px;
  bottom: -4px;
  width: 6px;
  left: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  opacity: .8; }

.sp-alpha {
  display: none;
  position: absolute;
  bottom: -14px;
  right: 0;
  left: 0;
  height: 8px; }

.sp-alpha-inner {
  border: solid 1px #333; }

/* Don't allow text selection */
.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider, .sp-alpha, .sp-alpha-handle, .sp-container.sp-dragging .sp-input, .sp-container button {
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none; }

.sp-container.sp-input-disabled .sp-input-container {
  display: none; }

.sp-container.sp-buttons-disabled .sp-button-container {
  display: none; }

.sp-palette-only .sp-picker-container {
  display: none; }

.sp-palette-disabled .sp-palette-container {
  display: none; }

.sp-initial-disabled .sp-initial {
  display: none; }

/* Gradients for hue, saturation and value instead of images.  Not pretty... but it works */
.sp-sat {
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(left, white, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(left, white, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(left, white, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(left, white, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to right, white, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr=#FFFFFFFF, endColorstr=#00CC9A81)";
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr='#FFFFFFFF', endColorstr='#00CC9A81'); }

.sp-val {
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(bottom, black, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(bottom, black, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(bottom, black, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(bottom, black, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to top, black, rgba(204, 154, 129, 0));
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00CC9A81, endColorstr=#FF000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00CC9A81', endColorstr='#FF000000'); }

.sp-hue {
  background: -moz-linear-gradient(top, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  background: -ms-linear-gradient(top, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  background: -o-linear-gradient(top, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(red), color-stop(0.17, yellow), color-stop(0.33, lime), color-stop(0.5, cyan), color-stop(0.67, blue), color-stop(0.83, magenta), to(red));
  background: -webkit-linear-gradient(top, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%); }

/* IE filters do not support multiple color stops.
   Generate 6 divs, line them up, and do two color gradients for each.
   Yes, really.
 */
.sp-1 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000', endColorstr='#ffff00'); }

.sp-2 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff00', endColorstr='#00ff00'); }

.sp-3 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ff00', endColorstr='#00ffff'); }

.sp-4 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffff', endColorstr='#0000ff'); }

.sp-5 {
  height: 16%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0000ff', endColorstr='#ff00ff'); }

.sp-6 {
  height: 17%;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00ff', endColorstr='#ff0000'); }

.sp-hidden {
  display: none !important; }

/* Clearfix hack */
.sp-cf:before, .sp-cf:after {
  content: "";
  display: table; }

.sp-cf:after {
  clear: both; }

.sp-cf {
  *zoom: 1; }

/* Mobile devices, make hue slider bigger so it is easier to slide */
@media (max-device-width: 480px) {
  .sp-color {
    right: 40%; }

  .sp-hue {
    left: 63%; }

  .sp-fill {
    padding-top: 60%; } }
.sp-dragger {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
  background: #000;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0; }

.sp-slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 3px;
  left: -1px;
  right: -1px;
  border: 1px solid #000;
  background: white;
  opacity: .8; }

/* Basic display options (colors, fonts, global widths) */
.sp-container {
  border-radius: 0;
  background-color: #ECECEC;
  border: solid 1px #f0c49B;
  padding: 0; }

.sp-container, .sp-container button, .sp-container input, .sp-color, .sp-hue {
  font: normal 12px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.sp-top {
  margin-bottom: 3px; }

.sp-color, .sp-hue {
  border: solid 1px #666; }

/* Input */
.sp-input-container {
  float: right;
  width: 100px;
  margin-bottom: 4px; }

.sp-initial-disabled .sp-input-container {
  width: 100%; }

.sp-input {
  font-size: 12px !important;
  border: 1px inset;
  padding: 4px 5px;
  margin: 0;
  width: 100%;
  background: transparent;
  border-radius: 3px;
  color: #222; }

.sp-input:focus {
  border: 1px solid orange; }

.sp-input.sp-validation-error {
  border: 1px solid red;
  background: #fdd; }

.sp-picker-container, .sp-palette-container {
  float: left;
  position: relative;
  padding: 10px;
  padding-bottom: 300px;
  margin-bottom: -290px; }

.sp-picker-container {
  width: 172px;
  border-left: solid 1px #fff; }

/* Palettes */
.sp-palette-container {
  border-right: solid 1px #ccc; }

.sp-palette .sp-thumb-el {
  display: block;
  position: relative;
  float: left;
  width: 24px;
  height: 15px;
  margin: 3px;
  cursor: pointer;
  border: solid 2px transparent; }

.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
  border-color: orange; }

.sp-thumb-el {
  position: relative; }

/* Initial */
.sp-initial {
  float: left;
  border: solid 1px #333; }

.sp-initial span {
  width: 30px;
  height: 25px;
  border: none;
  display: block;
  float: left;
  margin: 0; }

/* Buttons */
.sp-button-container {
  float: right; }

/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 4px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  border: solid 1px #91765d;
  background: #eee;
  color: #333;
  vertical-align: middle; }

.sp-replacer:hover, .sp-replacer.sp-active {
  border-color: #F0C49B;
  color: #111; }

.sp-replacer.sp-disabled {
  cursor: default;
  border-color: silver;
  color: silver; }

.sp-dd {
  padding: 2px 0;
  height: 16px;
  line-height: 16px;
  float: left;
  font-size: 10px; }

.sp-preview {
  position: relative;
  width: 25px;
  height: 20px;
  border: solid 1px #222;
  margin-right: 5px;
  float: left;
  z-index: 0; }

.sp-palette {
  *width: 220px;
  max-width: 220px; }

.sp-palette .sp-thumb-el {
  width: 16px;
  height: 16px;
  margin: 2px 1px;
  border: solid 1px #d0d0d0; }

.sp-container {
  padding-bottom: 0; }

/* Buttons: http://hellohappy.org/css3-buttons/ */
.sp-container button {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(to bottom, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333;
  font-size: 14px;
  line-height: 1;
  padding: 5px 4px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  vertical-align: middle; }

.sp-container button:hover {
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(to bottom, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd; }

.sp-container button:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -ms-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -o-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee; }

.sp-cancel {
  font-size: 11px;
  color: #d93f3f !important;
  margin: 0;
  padding: 2px;
  margin-right: 5px;
  vertical-align: middle;
  text-decoration: none; }

.sp-cancel:hover {
  color: #d93f3f !important;
  text-decoration: underline; }

.sp-palette span:hover, .sp-palette span.sp-thumb-active {
  border-color: #000; }

.sp-preview, .sp-alpha, .sp-thumb-el {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==); }

.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.sp-palette .sp-thumb-inner {
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=); }

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=); }

.head-forum {
  background-image: url(../../images/forum/folder_forum.png); }

.head-topic {
  background-image: url(../../images/forum/folder_topic.png); }

.head-post {
  background-image: url(../../images/forum/post.png); }

h3.head-forum-moderators {
  border-bottom: 4px solid #DFDFDF;
  color: #EB5E00;
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 0.3em 0.5em 18px 0;
  background-image: url(../../images/forum/moderators.png); }

.rm-forum-avatar-place {
  padding: 7px;
  background: #fff;
  border: 1px solid #ccc;
  width: 100px;
  text-align: center;
  margin: 6px; }

.rm-forum-upload-avatar-place {
  margin: 6px; }

.df-forum-icons-small {
  top: 5px;
  position: relative; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.show {
  display: block; }

.hide,
.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.affix {
  position: fixed; }

.clearfix:before, .container:before, .commits-widget .commits-list li:before, #rm-forum-admin .nav-pills:before, .clearfix:after, .container:after, .commits-widget .commits-list li:after, #rm-forum-admin .nav-pills:after {
  display: table;
  content: " "; }
.clearfix:after, .container:after, .commits-widget .commits-list li:after, #rm-forum-admin .nav-pills:after {
  clear: both; }

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

body {
  min-width: 1110px; }

.container {
  width: 1110px;
  margin-right: auto;
  margin-left: auto; }

.full-width {
  width: 1110px;
  margin-left: 12px; }

@media screen and (min-width: 967px) and (max-width: 1139px) {
  body {
    min-width: 995px; }

  .container,
  .full-width {
    width: 995px; } }
@media screen and (max-width: 966px) {
  body {
    min-width: 950px; }

  .container,
  .full-width {
    width: 950px; } }
a.no-href {
  cursor: pointer; }

header {
  margin-bottom: 15px; }

body button.ok {
  background-color: #009100;
  background-image: linear-gradient(to bottom, #009100, #007700);
  color: white; }
  .discourse-no-touch body button.ok:hover {
    background-color: #00aa00;
    background-image: linear-gradient(to bottom, #00aa00, #007700);
    color: white; }
body button.cancel {
  background-color: #910000;
  background-image: linear-gradient(to bottom, #910000, #770000);
  color: white; }
  .discourse-no-touch body button.cancel:hover {
    background-color: #aa0000;
    background-image: linear-gradient(to bottom, #aa0000, #770000);
    color: white; }
body .coldmap-high {
  color: #33bbff !important; }
body .coldmap-med {
  color: #00aaff !important; }
body .coldmap-low {
  color: #0088cc !important; }
body .heatmap-high {
  color: #ff7777 !important; }
body .heatmap-med {
  color: #aa0000 !important; }
body .heatmap-low {
  color: #770000 !important; }
body #loading-message {
  position: absolute;
  font-size: 30px;
  text-align: center;
  top: 120px;
  left: 500px;
  color: #666666; }
body .top-space {
  margin-top: 10px; }
body ul.breadcrumb {
  margin: 0 10px 0px 10px; }
body .boxed {
  height: 100%;
  border-radius: 5px; }
  body .boxed .contents {
    padding: 10px 20px 20px 20px; }
  body .boxed.white {
    background-color: white; }
body #main .icon-star.starred {
  color: #fe1; }
body #main a.star {
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  color: #cacaca; }
  body #main a.star:before {
    font-family: "FontAwesome";
    content: "\f005"; }
  body #main a.star.starred {
    color: #fe1;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
    .discourse-no-touch body #main a.star.starred:hover {
      opacity: 1; }
      .discourse-no-touch body #main a.star.starred:hover:before {
        content: "\f005"; }
  .discourse-no-touch body #main a.star:hover {
    opacity: 0.6; }
  body #main a.star:active {
    opacity: 1; }
body #main img.avatar.header {
  width: 45px;
  height: 45px; }
body #main img.avatar.medium {
  width: 32px;
  height: 32px; }
body #main img.avatar.small {
  width: 25px;
  height: 25px; }
body #main img.avatar.tiny {
  width: 20px;
  height: 20px; }
body #main .user-list .user {
  padding-bottom: 5px; }
body .message {
  border-radius: 8px;
  background-color: white;
  padding: 14px; }
  body .message h2 {
    margin-bottom: 20px; }
  body .message p {
    font-size: 20px; }
body #footer {
  background-color: #5f5b65; }
  body #footer .container {
    height: 50px; }
    body #footer .container .contents {
      padding-top: 10px; }
      body #footer .container .contents a[href] {
        color: white; }
.discourse-no-touch body .clear-transitions {
  -webkit-transition: none !important;
  -ms-transition: none !important;
  transition: none !important; }
body .grippie {
  width: 100%;
  border: 1px solid #dddddd;
  border-width: 1px 0px;
  cursor: row-resize;
  height: 11px;
  overflow: hidden;
  background-color: #eeeeee;
  background: image-url("grippie.png") #eeeeee no-repeat center 3px; }

form .tip {
  display: inline-block; }
  form .tip.good {
    color: #007700; }
  form .tip.bad {
    color: #770000; }

blockquote {
  /* 13px left is intentional here to properly align with post quotes */
  padding: 10px 8px 1px 13px;
  background-color: #f1f1f1;
  border-left: 5px solid #bebebe; }
  blockquote p {
    margin: 0 0 10px 0; }

.topic-statuses {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .topic-statuses .topic-status {
    padding: 5px 2px 0 0;
    margin: 0;
    display: inline-block; }
    .topic-statuses .topic-status i {
      font-size: 15px;
      color: #666666; }

#wmd-input {
  resize: none; }

#pagedown-editor {
  width: 540px;
  background-color: white;
  padding: 0 10px 13px 10px;
  border: 1px solid #cccccc; }
  #pagedown-editor .preview {
    margin-top: 8px;
    border: 1px dashed #cccccc;
    padding: 8px 8px 0 8px; }
    #pagedown-editor .preview p {
      margin: 0 0 10px 0; }
  #pagedown-editor .preview.hidden {
    display: none; }

.spinner {
  width: 100px;
  margin: 0 auto 30px auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: white;
  background-image: image-url("spinner_96_w.gif");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  background-size: 25px; }

.avatar {
  border-radius: 2px; }

.avatar-wrapper {
  background-color: white;
  display: inline-block;
  border: 1px solid #82786b;
  border-radius: 5px; }
  .avatar-wrapper img {
    border-radius: 4px; }

.profiler-results.profiler-left {
  top: 60px !important; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.show {
  display: block; }

.hide,
.hidden {
  display: none; }

.invisible {
  visibility: hidden; }

.affix {
  position: fixed; }

.clearfix:before, .container:before, .commits-widget .commits-list li:before, #rm-forum-admin .nav-pills:before, .clearfix:after, .container:after, .commits-widget .commits-list li:after, #rm-forum-admin .nav-pills:after {
  display: table;
  content: " "; }
.clearfix:after, .container:after, .commits-widget .commits-list li:after, #rm-forum-admin .nav-pills:after {
  clear: both; }

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.content-list li a span.count {
  font-size: 12px;
  float: right;
  margin-right: 10px;
  background-color: #eee;
  padding: 2px 5px;
  border-radius: 5px;
  color: #555; }

.admin-content {
  margin-bottom: 50px; }
  .admin-content .admin-contents {
    padding: 8px; }
    .admin-content .admin-contents p {
      margin-left: 6px; }
  .admin-content table.report tr th:nth-of-type(1) {
    width: 20%; }
  .admin-content table.report .bar-container {
    float: left;
    width: 300px;
    margin-right: 15px;
    margin-bottom: 5px;
    display: inline-block; }
    .admin-content table.report .bar-container .bar {
      margin-top: 5px;
      background-color: #0088cc;
      display: inline-block;
      text-align: right;
      padding-right: 8px;
      color: white; }

.admin-loading {
  width: 100px;
  margin: 0 auto 30px auto;
  background-color: black;
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: white;
  background-image: image-url("spinner_96_w.gif");
  background-repeat: no-repeat;
  background-position: 10px 8px;
  background-size: 25px; }

.admin-controls {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  padding: 5px 10px 3px 0px;
  margin-bottom: 20px;
  height: 35px; }
  .admin-controls .nav.nav-pills li.active a {
    border-color: gray;
    background-color: #999999; }
    .admin-controls .nav.nav-pills li.active a:hover {
      background-color: #999999; }
  .admin-controls h1 {
    font-size: 20px;
    line-height: 25px;
    color: #666666; }
  .admin-controls .controls {
    padding-top: 3px; }
  .admin-controls button {
    float: left;
    margin-right: 5px; }
  .admin-controls .result-message {
    display: inline-block;
    padding-left: 10px;
    padding-top: 5px; }
  .admin-controls .username input[type=text] {
    width: 240px; }
  .admin-controls .search {
    float: right;
    margin-left: 10px; }
    .admin-controls .search label {
      margin-top: 5px; }
  .admin-controls .toggle {
    margin-top: 8px;
    float: right; }
    .admin-controls .toggle span {
      font-weight: bold; }
  .admin-controls label {
    display: inline-block;
    margin-right: 5px; }

.settings .setting {
  padding-bottom: 20px; }
  .settings .setting .desc {
    padding-top: 3px;
    color: #999999; }
  .settings .setting h3 {
    font-size: 13px;
    font-weight: normal; }
.settings .setting.overridden input[type=text] {
  background-color: #ffffcc; }
.settings .setting.overridden h3 {
  color: #999900; }

section.details h1 {
  font-size: 15px;
  background-color: #cccccc;
  color: white;
  padding: 0 10px;
  margin: 0px 0 5px 0; }

#selected-controls {
  background-color: #cceeff;
  padding: 8px;
  min-height: 27px;
  position: fixed;
  bottom: 0;
  width: 1075px;
  border: 1px solid #b3e5ff; }

table tr.selected {
  background-color: #f5fcff; }

.display-row {
  height: 30px;
  line-height: 30px;
  padding: 5px;
  border-top: 1px solid #dddddd; }
  .display-row:nth-of-type(1) {
    border-top: 0; }
  .display-row:before, .display-row:after {
    display: table;
    content: ''; }
  .display-row:after {
    clear: both; }
  .display-row .field {
    font-weight: bold;
    width: 196px;
    float: left;
    margin-left: 12px; }
  .display-row .value {
    width: 250px;
    float: left;
    margin-left: 12px; }
  .display-row .controls .btn {
    margin-right: 5px; }

.customize .nav.nav-pills {
  margin-left: 10px; }
.customize .content-list, .customize .current-style {
  float: left; }
.customize .content-list ul {
  margin-bottom: 10px; }
.customize .current-style {
  padding-left: 10px;
  width: 65%; }
  .customize .current-style .delete-link {
    margin-left: 15px;
    margin-top: 5px; }
  .customize .current-style .preview-link {
    margin-left: 30px; }
  .customize .current-style .style-name {
    width: 600px;
    height: 25px;
    font-size: 20px; }
  .customize .current-style .ace-wrapper {
    position: relative;
    height: 400px;
    width: 100%; }
  .customize .current-style .ace_editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .customize .current-style .status-actions {
    float: right;
    margin-top: 7px; }
    .customize .current-style .status-actions span {
      margin-right: 20px; }
  .customize .current-style .buttons {
    float: left;
    width: 200px; }
    .customize .current-style .buttons .saving {
      padding: 5px 0 0 0;
      margin-left: 10px;
      width: 80px;
      color: #999999; }

.admin-flags tr.hidden-post td.excerpt {
  opacity: 0.4; }
.admin-flags tr.deleted td.excerpt {
  opacity: 0.8;
  background-color: #ffcece; }
.admin-flags td.message {
  padding: 4px 0;
  background-color: #f8f8e0; }
.admin-flags td {
  vertical-align: top; }
.admin-flags th {
  text-align: left; }
.admin-flags .user {
  width: 40px; }
.admin-flags .excerpt {
  max-width: 740px;
  width: 740px;
  padding: 0 10px 10px 0;
  word-wrap: break-word; }
  .admin-flags .excerpt .icon, .admin-flags .excerpt h3 {
    display: inline-block; }
.admin-flags .flaggers {
  font-size: 11px; }
  .admin-flags .flaggers td {
    vertical-align: middle;
    padding: 3px; }
.admin-flags .action {
  text-align: right;
  padding-bottom: 20px; }
  .admin-flags .action button {
    margin: 4px; }

/* Dashboard */
.dashboard-left {
  float: left;
  width: 500px;
  margin-top: 10px; }

.dashboard-right {
  float: right;
  width: 500px;
  margin-top: 10px;
  margin-right: 15px; }
  @media screen and (min-width: 967px) and (max-width: 1139px) {
    .dashboard-right {
      width: 430px; } }
  @media screen and (max-width: 966px) {
    .dashboard-right {
      width: 390px; } }
  .dashboard-right .dashboard-stats {
    width: 100%;
    margin-left: 0; }

.version-check .version-number {
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
.version-check .face {
  width: 20px; }
.version-check .version-notes .icon {
  vertical-align: bottom; }
.version-check.critical .version-notes .normal-note {
  display: none; }
.version-check.normal .version-notes .critical-note {
  display: none; }
.version-check .icon {
  font-size: 26px; }
.version-check .update-to-date {
  color: green; }
.version-check .updates-available {
  color: #FF9500; }
.version-check .critical-updates-available {
  color: red; }

.update-nag i.icon {
  font-size: 20px; }

.dashboard-stats {
  margin-bottom: 30px;
  width: 460px;
  margin-left: 30px; }
  .dashboard-stats h4 {
    font-weight: normal;
    margin-bottom: 8px; }
  .dashboard-stats table {
    width: 100%; }
    .dashboard-stats table .title i.icon {
      color: #444; }
    .dashboard-stats table th {
      font-weight: normal;
      text-align: center;
      background-color: #e4e4e4; }
    .dashboard-stats table th.title {
      text-align: left; }
    .dashboard-stats table thead tr:hover > td {
      background-color: white; }
    .dashboard-stats table thead tr:hover > th {
      background-color: #e4e4e4; }
    .dashboard-stats table td.value {
      font-weight: bold;
      text-align: center; }
      .dashboard-stats table td.value i {
        display: none; }
      .dashboard-stats table td.value.trending-up {
        color: green; }
        .dashboard-stats table td.value.trending-up i.up {
          display: inline; }
      .dashboard-stats table td.value.trending-down {
        color: red; }
        .dashboard-stats table td.value.trending-down i.down {
          display: inline; }
      .dashboard-stats table td.value.no-change i.down {
        display: inline;
        visibility: hidden; }
  .dashboard-stats.detected-problems {
    border-radius: 5px;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: inset 0 0 10px #bbb; }
    .dashboard-stats.detected-problems .look-here {
      float: left;
      margin: 20px 20px 0 20px; }
      .dashboard-stats.detected-problems .look-here .icon {
        font-size: 32px;
        vertical-align: middle;
        color: #666666; }
    .dashboard-stats.detected-problems .problem-messages {
      float: left;
      width: 355px; }
      .dashboard-stats.detected-problems .problem-messages a {
        text-decoration: underline; }
      .dashboard-stats.detected-problems .problem-messages .actions {
        text-align: right; }
  .dashboard-stats.totals {
    margin-top: 12px;
    padding-left: 5px; }
    .dashboard-stats.totals table {
      width: auto; }
    .dashboard-stats.totals .value {
      text-align: left;
      font-weight: bold;
      padding-left: 8px;
      padding-right: 30px; }
  .dashboard-stats.trust-levels {
    margin-bottom: 0px; }
    .dashboard-stats.trust-levels table {
      margin-bottom: 0px; }
    .dashboard-stats.trust-levels td.value {
      width: 45px; }
  .dashboard-stats .referred-topic-title {
    width: 410px; }
    @media screen and (min-width: 967px) and (max-width: 1139px) {
      .dashboard-stats .referred-topic-title {
        width: 360px; } }
    @media screen and (max-width: 966px) {
      .dashboard-stats .referred-topic-title {
        width: 320px; } }

.commits-widget {
  border: solid 1px #ccc;
  width: 500px;
  height: 180px;
  margin-bottom: 36px; }
  @media screen and (min-width: 967px) and (max-width: 1139px) {
    .commits-widget {
      width: 430px; } }
  @media screen and (max-width: 966px) {
    .commits-widget {
      width: 390px; } }
  .commits-widget ul, .commits-widget li {
    margin: 0;
    padding: 0; }
  .commits-widget ul {
    list-style: none; }
  .commits-widget a {
    color: #222;
    text-decoration: none; }
  .commits-widget a:hover {
    text-decoration: underline; }
  .commits-widget .header {
    color: #222;
    font-weight: bold;
    height: 30px;
    border-bottom: solid 1px #ccc;
    background-color: #f1f1f1;
    background-image: linear-gradient(to bottom, #f1f1f1, #e1e1e1);
    cursor: pointer; }
    .commits-widget .header h1 {
      font-size: 18px;
      margin: 5px 0 0 8px;
      display: inline-block;
      line-height: 1.0em; }
  .commits-widget .header:hover h1 {
    color: #0081b0; }
  .commits-widget .commits-list {
    height: 149px;
    overflow-y: auto; }
    .commits-widget .commits-list li {
      line-height: 1.0em;
      padding: 6px 8px;
      border-bottom: solid 1px #ccc;
      background-color: #f6f6f6;
      background-image: linear-gradient(to bottom, #f6f6f6, #eeeeee); }
      .commits-widget .commits-list li .left {
        float: left; }
      .commits-widget .commits-list li .right {
        margin-left: 52px; }
      .commits-widget .commits-list li img {
        margin-top: 2px;
        border: solid 1px #ccc;
        padding: 2px;
        background-color: white; }
      .commits-widget .commits-list li .commit-message {
        color: #222;
        font-size: 12px;
        font-weight: bold; }
      .commits-widget .commits-list li .commit-meta {
        color: #555;
        font-size: 12px; }
      .commits-widget .commits-list li .committer-name {
        font-weight: bold;
        color: #333; }
    .commits-widget .commits-list li:last-child {
      border: none; }
  .commits-widget ::-webkit-scrollbar {
    width: 6px; }
  .commits-widget ::-webkit-scrollbar-thumb {
    background-color: #d1d1d1;
    -webkit-border-radius: 3px; }
  .commits-widget ::-webkit-scrollbar-track {
    border-left: solid 1px #ddd; }

.content-list h3 {
  color: #666666;
  font-size: 15px;
  padding-left: 5px; }
.content-list ul {
  list-style: none;
  margin: 0; }
  .content-list ul li {
    border-bottom: 1px solid #ddd; }
  .content-list ul li a {
    display: block;
    padding: 10px;
    color: #999999; }
    .content-list ul li a:hover {
      background-color: #eee;
      color: #999999; }
    .content-list ul li a.active {
      font-weight: bold;
      color: black; }

.content-editor {
  min-height: 500px;
  float: left;
  width: 760px;
  margin-left: 20px; }
  @media screen and (min-width: 967px) and (max-width: 1139px) {
    .content-editor {
      width: 650px; } }
  @media screen and (max-width: 966px) {
    .content-editor {
      width: 600px; } }
  .content-editor p.description {
    color: #999999; }
  .content-editor .controls {
    margin-top: 10px; }
  .content-editor #pagedown-editor {
    width: 98%; }
  .content-editor textarea.plain {
    width: 98%;
    height: 200px; }
  .content-editor #wmd-input {
    width: 98%;
    height: 200px; }
  .content-editor .ace-wrapper {
    position: relative;
    height: 600px;
    width: 100%; }
  .content-editor .ace_editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }

.row.groups input[type='text'] {
  width: 500px; }
.row.groups input#group-users {
  width: 600px; }

.screened-emails, .screened-urls {
  width: 900px; }
  .screened-emails .email, .screened-emails .url, .screened-urls .email, .screened-urls .url {
    width: 300px; }
  .screened-emails .action, .screened-emails .match_count, .screened-emails .last_match_at, .screened-emails .created_at, .screened-emails .ip_address, .screened-urls .action, .screened-urls .match_count, .screened-urls .last_match_at, .screened-urls .created_at, .screened-urls .ip_address {
    width: 110px;
    text-align: center; }

.staff-actions {
  width: 100%; }
  .staff-actions .action {
    width: 120px; }
  .staff-actions .staff_user {
    width: 100px; }
  .staff-actions .subject {
    width: 200px; }
  .staff-actions .created_at {
    width: 50px; }
  .staff-actions .context {
    width: 200px; }
  .staff-actions .created_at {
    text-align: center; }
  .staff-actions .details {
    width: 300px; }
    .staff-actions .details a {
      text-decoration: underline; }
    .staff-actions .details.value {
      height: 70px; }

.staff-action-logs-controls {
  margin: 0 0 20px 6px; }
  .staff-action-logs-controls a.filter {
    display: inline-block;
    background-color: #ddd;
    padding: 3px 10px;
    border-radius: 3px;
    margin-left: 5px;
    color: #444; }
    .staff-action-logs-controls a.filter:hover {
      color: #0081b0; }
    .staff-action-logs-controls a.filter .label {
      font-weight: bold; }
    .staff-action-logs-controls a.filter i {
      margin-left: 6px; }

.staff-action-logs-instructions {
  margin: 50px 0 0 10px; }

.ember-list-view {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }

.ember-list-item-view {
  position: absolute; }

.staff-actions, .screened-emails, .screened-urls {
  margin-left: 5px;
  border-bottom: dotted 1px #ddd; }
  .staff-actions .heading-container, .screened-emails .heading-container, .screened-urls .heading-container {
    width: 100%;
    background-color: #e4e4e4; }
  .staff-actions .col.heading, .screened-emails .col.heading, .screened-urls .col.heading {
    font-weight: bold;
    padding: 4px 0; }
  .staff-actions .col, .screened-emails .col, .screened-urls .col {
    display: inline-block;
    padding-top: 6px;
    vertical-align: top;
    overflow-y: auto;
    overflow-x: hidden; }
  .staff-actions .col.first, .screened-emails .col.first, .screened-urls .col.first {
    margin-left: 5px; }
  .staff-actions .ember-list-item-view, .screened-emails .ember-list-item-view, .screened-urls .ember-list-item-view {
    width: 100%;
    border-top: solid 1px #ddd; }

.log-details-modal .modal-tab {
  width: 95%; }

#rm-forum-admin .nav-pills, #rm-forum-admin .nav-stacked {
  margin-left: 0;
  list-style: none; }
  #rm-forum-admin .nav-pills > li > a, #rm-forum-admin .nav-stacked > li > a {
    display: block;
    text-decoration: none; }
#rm-forum-admin #list-controls .nav {
  margin-bottom: 15px; }
#rm-forum-admin .nav-pills > li {
  float: left;
  margin-right: 5px; }
  #rm-forum-admin .nav-pills > li > a {
    border: 1px solid transparent;
    padding: 5px 12px;
    color: #534d4b;
    font-size: 16px;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    border-radius: 4px; }
    #rm-forum-admin .nav-pills > li > a:hover {
      border-color: #f6d5cd;
      color: #e45735;
      background-color: #fff0ed; }
  #rm-forum-admin .nav-pills > li.active > a, #rm-forum-admin .nav-pills > li > a.active {
    border-color: #ac3d22;
    color: #ffeeea;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.24);
    background-color: #e45735;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), inset 0 1px 0 rgba(255, 255, 255, 0.22); }
#rm-forum-admin .nav-stacked {
  position: relative;
  border: 1px solid #b9b9b9;
  padding: 0;
  overflow: hidden;
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0 1px 0 white; }
  #rm-forum-admin .nav-stacked > li {
    border-bottom: 1px solid #e6e6e6; }
    #rm-forum-admin .nav-stacked > li:last-of-type {
      border-bottom: 0; }
    #rm-forum-admin .nav-stacked > li > a {
      margin: 0;
      padding: 13px 13px 13px 30px;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      cursor: pointer; }
  #rm-forum-admin .nav-stacked .active > a,
  #rm-forum-admin .nav-stacked .active .icon-chevron-right {
    color: #f15b22;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #f9e7e0; }
  #rm-forum-admin .nav-stacked .count {
    font-size: 12px;
    line-height: 16px; }
  #rm-forum-admin .nav-stacked .icon-chevron-right {
    float: right;
    margin: 0;
    color: #cccccc;
    font-size: 14px;
    line-height: 20px; }
  #rm-forum-admin .nav-stacked .glyph {
    font-size: 12px;
    width: 30px;
    text-align: center;
    position: absolute;
    left: 2px; }

/* Branch */
.tree-branch {
  padding: 0px;
  margin: 0px; }

.tree-node .tree-branch {
  padding-left: 10px;
  /* Nested tree branches should be indented */ }

/* Node */
.tree-node {
  list-style: none;
  line-height: 20px; }

/* Arrow */
.tree-node .toggle-icon {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  margin-right: 0px;
  font-size: 10px; }

.tree-node .toggle-icon:hover {
  opacity: 0.8; }

.tree-node .toggle-icon.leaf {
  visibility: hidden; }

/* Node text */
.tree-node .text {
  cursor: pointer;
  text-decoration: underline; }

.tree-node .text:hover {
  text-decoration: none; }

.rm-bootstrap h1 {
  font-size: 24px;
  margin-top: 0; }

body.df-forum2-admin-index-index #anchor-content {
  background: #EEEEEE; }

#rm-forum-admin .container {
  padding: 0; }

.df .df-localization .df-verification {
  width: 100%;
  overflow: hidden; }
  .df .df-localization .df-verification h1 {
    text-transform: uppercase;
    font-size: 200%;
    font-weight: bold;
    margin: 0 0 1em 0; }
  .df .df-localization .df-verification h2 {
    font-size: 150%;
    font-weight: bold;
    margin: 0 0 0.75em 0; }
  .df .df-localization .df-verification h3 {
    font-size: 125%;
    font-weight: bold;
    margin: 0 0 0.5em 0;
    text-transform: lowercase; }
  .df .df-localization .df-verification .df-files {
    width: 500px;
    float: left; }
    .df .df-localization .df-verification .df-files .df-file-properties {
      width: 100%;
      overflow: hidden; }
      .df .df-localization .df-verification .df-files .df-file-properties .df-file-property {
        float: left; }
      .df .df-localization .df-verification .df-files .df-file-properties .df-name {
        width: 46%; }
      .df .df-localization .df-verification .df-files .df-file-properties .df-total {
        width: 18%; }
      .df .df-localization .df-verification .df-files .df-file-properties .df-untranslated {
        width: 18%; }
      .df .df-localization .df-verification .df-files .df-file-properties .df-absent {
        width: 18%; }
    .df .df-localization .df-verification .df-files .df-files-header .df-file-properties {
      width: 480px; }
      .df .df-localization .df-verification .df-files .df-files-header .df-file-properties .df-file-property {
        font-weight: bold;
        margin: 0 0 0.5em 0; }
    .df .df-localization .df-verification .df-files .df-files-body {
      overflow-y: scroll; }
      .df .df-localization .df-verification .df-files .df-files-body .df-file {
        padding: 0.5em 0;
        cursor: pointer; }
      .df .df-localization .df-verification .df-files .df-files-body .df-file-fully-translated .df-name {
        color: green; }
      .df .df-localization .df-verification .df-files .df-files-body .df-file-odd {
        background: #F6F6F6; }
      .df .df-localization .df-verification .df-files .df-files-body .df-file-hovered {
        background: #FCF5DD; }
      .df .df-localization .df-verification .df-files .df-files-body .df-file-selected {
        background: #FCF593; }
  .df .df-localization .df-verification .df-fileDetails {
    margin-left: 540px; }
    .df .df-localization .df-verification .df-fileDetails ol {
      margin: 0 0 2em 0; }
      .df .df-localization .df-verification .df-fileDetails ol li {
        margin: 0.4em 0; }

.df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product {
  padding: 0 0 0.5em 0; }
  .df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product .df-fields {
    width: 100%;
    overflow: hidden; }
    .df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product .df-fields .df-field {
      float: left; }
    .df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product .df-fields .df-field-name {
      width: 70%; }
    .df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product .df-fields .df-field-sku {
      width: 25%; }
    .df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product .df-fields .df-field-qty {
      width: 5%;
      text-align: center; }
.df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product-odd {
  /*background: yellow;*/ }
.df .df-sales-admin-widget-grid-column-renderer-products .df-products .df-product-even {
  /*background: pink;*/ }

div.df-admin-account-generator {
  /*background: #FFFBDD;*/ }
  div.df-admin-account-generator h1 {
    font-size: 175%; }
  div.df-admin-account-generator form textarea, div.df-admin-account-generator form label, div.df-admin-account-generator form input {
    display: block; }
  div.df-admin-account-generator form ul.df-inputs li {
    margin: 0 0 1em 0; }
    div.df-admin-account-generator form ul.df-inputs li input#df-admin-account-generator-form-url {
      width: 22em; }
  div.df-admin-account-generator form .df-submit {
    margin: 1em 0 0 0; }

div.df-licensor-generator {
  /*background: #FFFBDD;*/ }
  div.df-licensor-generator h1 {
    font-size: 175%; }
  div.df-licensor-generator form textarea, div.df-licensor-generator form label, div.df-licensor-generator form input {
    display: block; }
  div.df-licensor-generator form ul.df-inputs li {
    margin: 0 0 1em 0; }
  div.df-licensor-generator form .df-submit {
    margin: 1em 0 0 0; }

.go-try {
  display: none; }

#page-help-link {
  display: none; }

.grid-severity-critical
,
.grid-severity-critical span
,
.grid-severity-major
, .grid-severity-major span
, .grid-severity-minor
, .grid-severity-minor span
, .grid-severity-notice
, .grid-severity-notice span {
  text-transform: lowercase; }

.grid-severity-critical span
,
.grid-severity-major span
, .grid-severity-minor span
, .grid-severity-notice span {
  line-height: 16px; }

#config_edit_form .columns .form-list td.value {
  width: 380px; }
#config_edit_form .form-list td.value input.input-text
,
#config_edit_form .form-list td.value textarea {
  width: 374px; }
#config_edit_form .form-list td.value textarea {
  height: 5em; }
#config_edit_form .form-list td.value select {
  width: 380px; }
#config_edit_form .form-list td.value .grid select {
  width: 190px; }
#config_edit_form .form-list td.value p.note {
  width: 380px; }
#config_edit_form .form-list td.label {
  width: 250px; }
#config_edit_form .form-list td.label label {
  width: 235px; }

.columns #df_tweaks_admin_logging__actions .form-list td.value {
  width: 700px; }

#product_edit_form #sku_type,
#product_edit_form #weight_type,
#product_options_container .headings .type-type {
  width: 150px; }

.adminhtml-system-currencysymbol-index .content-header {
  width: 533px; }
.adminhtml-system-currencysymbol-index #currency_symbols_form .fieldset {
  width: 500px; }
  .adminhtml-system-currencysymbol-index #currency_symbols_form .fieldset .hor-scroll table tbody td {
    width: 50%; }
    .adminhtml-system-currencysymbol-index #currency_symbols_form .fieldset .hor-scroll table tbody td .input-text {
      width: 100px; }

.df div.df-config .df-form .df-field {
  color: #6f8992;
  font-size: 0.9em;
  margin: 0 0 0 2em; }
  .df div.df-config .df-form .df-field .df-service {
    width: 100%;
    display: block;
    overflow: hidden; }
    .df div.df-config .df-form .df-field .df-service .df-param {
      display: block;
      float: left;
      margin: 0.63em 0 0 1em; }
      .df div.df-config .df-form .df-field .df-service .df-param .df-disabled {
        color: red; }
      .df div.df-config .df-form .df-field .df-service .df-param .df-enabled {
        color: green; }
    .df div.df-config .df-form .df-field .df-service .df-title {
      display: block;
      float: left;
      margin-left: 0; }

.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto; }
  .autocomplete-suggestions .autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer; }
    .autocomplete-suggestions .autocomplete-suggestion strong {
      font-weight: bold;
      color: black; }
  .autocomplete-suggestions .autocomplete-selected {
    background: #F0F0F0; }
