<div class="ajax_event" id="ajax_event">
	<div class="title"><?php echo $this->__('Item added to cart') ?></div>
	<a id="event_close" class="close" nohref><?php echo $this->__('close') ?></a>
	
	<div class="product-info">
		<div class="product-manufactrurer"></div>
		<div class="product-name"></div>
		<div class="product-detailed">
			<div class="product-atr"></div>
			<div class="product-qty"></div>
		</div>
	</div>
	
	<button type="button" title="<?php echo $this->__('Оформить заказ') ?>" class="button first" onclick="setLocation('<?php echo $this->getUrl('checkout/onepage') ?>')"><span><span><?php echo $this->__('Оформить заказ') ?></span></span></button>
	<button type="button" title="<?php echo $this->__('Продолжить покупки') ?>" class="button last" onclick="jQuery('#ajax_event').hide()"><span><span><?php echo $this->__('Продолжить покупки') ?></span></span></button>
</div>

<div class="ajax_event" id="ajax_event_msg">
    <div class="title"><?php echo $this->__('Message') ?></div>
    <a class="close" nohref><?php echo $this->__('close') ?></a>

    <div class="event_msg"></div>
</div>
