<?php
/* @var $this Mage_Wishlist_Block_Customer_Sidebar */
?>
<?php if ($this->helper('wishlist')->isAllow()) : ?>
<div id="header-wishlist" class="block block-wishlist">
    <div class="block-title">
        <?php echo $this->__('My Wishlist / %s item(s)', count($this->getWishlistItems())); ?>
    </div>
    <div class="block-content">
    <?php if ($this->hasWishlistItems()): ?>
    <table class="mini-products-list" id="wishlist-sidebar">
     <?php foreach ($this->getWishlistItems() as $_item): ?>
        <?php $product = $_item->getProduct(); ?>
        <tr class="item">
			<td>
			<div class="product-manufactrurer">
					<?php echo Mage::getModel('catalog/product')->load($_item->getProductId())->getAttributeText('manufacturer'); ?>
			</div>
			</td>
			<td>
			<p class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->escapeHtml($product->getName()) ?></a></p>
            </td>
			<td>
			<div class="product-details">
                <?php //echo $this->getPriceHtml($product, false, '-wishlist') ?>
                <?php /*if ($product->isSaleable() && $product->isVisibleInSiteVisibility()): ?>
                    <a href="<?php echo $this->getItemAddToCartUrl($_item) ?>" class="link-cart"><?php echo $this->__('Add to Cart') ?></a>
                <?php endif; */ ?>
            </div>
			</td>
			<td>
			<div class="product-control-buttons">
                <a href="<?php echo $this->getItemRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the wishlist?') ?>');" class="btn-remove"><?php echo $this->__('Remove This Item') ?></a>
			</div>
			</td>
        </tr>
    <?php endforeach; ?>
    </table>
    <script type="text/javascript">decorateList('wishlist-sidebar');</script>
    <div class="actions">
        <a href="<?php echo $this->helper('wishlist')->getListUrl() ?>"><?php echo $this->__('My Wishlist') ?></a>
    </div>
	<div style="clear: both;margin-bottom: 25px;"></div>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items in your wishlist.') ?></p>
    <?php endif ?>
    </div>
</div>
<?php endif ?>
